
	<title>How It Works</title>

	<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="services"></div>
			</div>
		</div>
	</div>

	<div class="main-heading2">
		<h2>How It Works</h2>
	</div>

	<div class="container">
		<div class="hidden-phone">
			<div class="bg">
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 20px; color: #808080;"><strong><span style="color: #808080;">About MyBoiler.com</span></strong></span></p>
				
				<p>&nbsp;</p>
				
				<p>
					<span style="font-size: 16px; color: #808080;">MyBoiler is a site that provides boiler and central heating related resources to Consumers and engineers. It allows Consumers to find engineers by posting jobs so that we can contact vetted and qualified engineers on your behalf. It allows Consumers and Engineers find User Manuals, Installation Instructions and other Documents for boilers. MyBoiler provides knowledge and tips that allow smoother jobs, energy savings and smoother dealings between consumers and engineers.</span>
				</p>
			
				<p>&nbsp;</p>
				<hr />
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 20px;"><strong><span style="color: #808080;">How it works</span></strong></span></p>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 16px; color: #808080;">If you are a Consumer make sure you are in the Consumer Site,&nbsp;</span><span style=
				"font-size: 16px; color: #808080;">if you aren't already</span><span style="font-size: 16px; color: #808080;">&nbsp;by clicking the Consumer Site button. If you are an engineer then click the Engineer Site button.</span></p>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 16px; color: #808080;">For the Consumer Site we currently have available:</span></p>
				
				<p><span style="font-size: 14px;"><strong><span style="color: #808080;"> Boiler Manuals and User Guides</span></strong></span></p>
				
				<p><span style="font-size: 14px; color: #808080;"><strong>Find an Engineer</strong> - Where you can post a job and get quotes from vetted and qualified engineers.</span></p>
				
				<p><span style="font-size: 14px; color: #808080;"><strong>Top Tip</strong> - These are a list of things that will help you reduce your energy costs and heating bills.</span></p>
				
				<p><span style="font-size: 14px; color: #808080;"><strong>Services</strong> - These are miscallaneous links to resources such as boiler breakdown cover, self help knowledge etc.</span></p>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 16px; color: #808080;">For the Engineer Site we currently have available:</span></p>
				
				<p><span style="font-size: 14px;"><strong><span style="color: #808080;">Boiler Manuals and User Guides</span></strong></span></p>
				
				<p><strong style="color: #808080; font-size: 14px;">Top Tip</strong><span style="font-size: 14px; color: #808080;">&nbsp;</span><span style="font-size: 14px; color: #808080;">- These are a list of things that will help you reduce your energy costs and heating bills.</span></p>
				
				<p><span style="font-size: 14px; color: #808080;"><strong>Tools</strong>&nbsp;- These are miscallaneous links to resources that assist the engineer in dealing with jobs and customers.</span></p>
				
				<p>&nbsp;</p>
				
				<hr/>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 18px;"><strong><span style="color: #808080;">More to come.</span></strong></span></p>
				
				<p>&nbsp;</p>
				
				<p><span style="font-size: 16px; color: #808080;">This site is updated and improved in a continual basis using the feedback of Consumers and Engineers. We will eventually provide services that allow Consumers to connect with Engineers seamlessly, allow storage of boiler service records and many more tools for the engineer</span></p>
				
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				
			</div>
		</div>
	</div>
</div>