<div class="main-heading2">
	<h2>LOGIN</h2>
</div>


<div class="container">
	<div class="hidden-phone">
		<div class="bg">

			<!----  Login form starts   ---->
				<div>&nbsp;</div>
				<div>&nbsp;</div>
<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-12">
						<form class="form-horizontal" name= "authenticate" role="form" id="join_us" method="post" ng-submit ="register()" novalidate="novalidate">
							<input type="hidden" name="page_type" value="Consumer">
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" ng-model = "user.email" name="email" id="email" class="form-control" placeholder="Email address">
								</div>
							</div>

							<div class="form-group">
								<label for="password" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" ng-model="user.password" name="password" id="password" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-sm-2 control-label">Password*</label>
								<div class="col-sm-10">
									<input type="password" name="password" id="password" class="form-control" placeholder="Password">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-primary">Register</button> &nbsp;
									<button type="reset" class="btn btn-default">Clear</button>
								</div>
								<div>&nbsp;</div>
							</div>
						</form>
					</div>

					<div class="col-md-2 col-xs-12 col-sm-12 text-center">

							<div class="line"></div>
							<div class="orImages">&nbsp;</div>
					</div>

					<div class="col-md-4 col-xs-12 col-sm-12 col-sm-offset-3 col-md-offset-0">
						<div class="row">

						  <div class="col-md-12 col-xs-12 col-sm-5">

							<a href="javascript:void(0)" onclick="javascript:third_party_login('facebook');" sl-processed="1"><div class="facebook"><span><img src="https://myboiler.com/v2/front/img/facebook-icon.png">&nbsp;</span><span>Register using Facebook</span> </div><div>&nbsp;</div></a>
								<!-- <a href="javascript:void(0)" onclick="javascript:third_party_login('facebook');">
									 <i class="fa fa-facebook-square fontSize"></i> Join with Facebook
									<img src="https://myboiler.com/v2/front/img/facebook-login.png" />
								</a>
								<div>&nbsp;</div> -->
							</div>

							<div class="col-md-12 col-xs-12 col-sm-5">

							<a href="javascript:void(0)" onclick="javascript:third_party_login('google');" sl-processed="1"><div class="google-plus"><span><img src="https://myboiler.com/v2/front/img/google-icon.png">&nbsp;</span><span>Register using Google Plus</span> </div></a>
								<!-- <a href="javascript:void(0)" onclick="javascript:third_party_login('google');">
									 <i class="fa fa-google-plus-square fontSize"></i> Join with Google Plus
									<img src="https://myboiler.com/v2/front/img/google-plus-login.png" />
								</a>
								<div>&nbsp;</div> -->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
