<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="services" class="height82"></div>
			</div>
		</div>
		<!-- row -->
	</div>

	<div class="main-heading2">
		<h2>tools</h2>
	</div>

	<div class="container">
		<div class="hidden-phone">
			<div class="bg">
				<div>&nbsp;</div><div>&nbsp;</div>
					<p><span style="font-size: 16px;" data-mce-mark="1"><strong>Top Engineer Apps</strong></span></p>
<ul>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="https://itunes.apple.com/gb/app/gas-boss/id792430373">Gas Boss</a> (Boiler Fault Codes and Diagnostics)&nbsp;</span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="https://itunes.apple.com/gb/app/gas-installers-workmate-mobile/id462175008">Gas Installers Workmate</a> (Boiler Manuals App)</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-size: 16px;" data-mce-mark="1"><strong>Job Leads - Find more Jobs</strong></span></p>
<p>&nbsp;</p>
<div id="links">
<ul>
<li><a style="font-size: 16px;" href="https://www.ratedpeople.com/tradesman-signup/enter-postcode">Rated People</a></li>
<li><a style="font-size: 16px;" href="http://www.quotatispro.co.uk/">Quotatis</a></li>
<li><span style="font-size: 16px;"><a href="https://certified.nest.com/uk">Join the Nest Certified Program</a> &nbsp;</span><a href="https://certified.nest.com/uk"><img src="https://d2i3kjehnny98x.cloudfront.net/rel-1394843665/system/images/17682/original/nest-certified-logo-uk.png" alt="Nest Certified Programme" /></a></li>
</ul>
</div>
<p>&nbsp;</p>
<p><span style="font-size: 16px;" data-mce-mark="1"><strong>Useful Sites</strong></span></p>
<div id="links">
<ul>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.gb-gas.co.uk">Gb-gas.co.uk - Online Gas Training</a></span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.diynot.com">Diynot.com</a></span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.ukplumbersforums.co.uk">UK Plumbers Forum</a></span></li>
</ul>
</div>
<p><span style="font-size: 16px;" data-mce-mark="1"><strong>Spare Parts</strong></span></p>
<div id="links">
<ul>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.interpartspares.co.uk/">Baxi &ndash; Interpart Web System</a></span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.heatingspareparts.com/">Heating Spare Parts</a></span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.ibasis.co.uk/">iBasis Parts System - (Requires Payment)</a></span></li>
<li><span style="font-size: 16px;" data-mce-mark="1"><a href="http://www.partscenter.co.uk/shared/getcooks.html?dest=/parts/help/partsarena.html&amp;pageid=HRI&amp;hitpage=main.html&amp;website=www.partscenter.co.uk&amp;ses=15610%7C44780&amp;app=parts&amp;logreq=true&amp;accreq=true&amp;arenaurl=http://www.partsarena.net/wolseley/default.htm">Parts Arena by Wolsey - (Requires Payment)</a></span></li>
</ul>
</div>				<div>&nbsp;</div><div>&nbsp;</div>
			</div>
		</div>
	</div>