<div id="logo" style="margin-top: 0px;">
	
	<div class="navbar bg-white navbar-static-top navbar-fixed-top" id="myboiler_top"><!-- navbar-fixed-top -->
		
		<div class="container navbar-container">
		
			<div class="navbar-header">
			
				<div class="pull-left">
				
					<a href="#/engineer" id="logo" class="navbar-brand paddingleft15" style="height:auto" sl-processed="1">
					
					<img class="img-responsive" src="./img/logo.png">
					
					</a>
				</div>
				
				<a href="https://myboiler.com/v2/#" sl-processed="1">
				
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle padding-right30" type="button" id="normal_button">
					
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						
					</button>
				</a>
			</div>			
						
			<div id="logo" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mrgntp10 mrgnbt14">
					<li class="hidden-phone" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="https://myboiler.com/v2/manuals/index.php?ut=engineer&d=Boilers">MANUALS</a>
					</li>
					<li class="hidden-phone" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="#/engineer-tips">TOP TIPS</a>
					</li>
					<li class="hidden-phone" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="#/eblog">BLOG</a>
					</li>
					<li class="hidden-phone" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="#/engineer-tools">TOOLS</a>
					</li>
					<div class="pull-left mrgntp5">
						<a href="#/consumer">
							<button type="button" class="btn btn-primary-custom" ng-click="reloadhead();">
								CONSUMER SITE
								<i class="icon-next">&nbsp;
									<img src="./img/right-arrow.png" alt="">
								</i>
							</button>
						</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="nav-bottom" style="display: block;">&nbsp;</div>
			