<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="services"></div>
			</div>
		</div>
		<!-- row -->
	</div>

<div class="main-heading2">
	<h2>Services</h2>
</div>

<div class="container">
	<div class="hidden-phone">
		<div class="bg">
			<div>&nbsp;</div><div>&nbsp;</div>
				<div><strong>Services to help you with your system</strong></div>
				<div>&nbsp;</div>
				<div class="media"><img class="media-object" src="./img/section_1.jpg" alt="" /></div>
				<div>&nbsp;</div>
				<div><span style="font-size: 14px;">We are a Nest Certified Professional. We are currently offering new boiler/replacements with Nest Thermostat included as standard in the London Area. Contact Us using the <a href="../../consumer-contact">contact form</a> to get a quote.</span></div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div><span style="font-size: 14px;">&nbsp;</span></div>
				<div><span style="font-size: 14px;"><strong>Protection &amp; Energy</strong></span></div>
				<div><span style="font-size: 14px;">&nbsp;-&nbsp;<strong style="color: #808080; font-family: verdana, geneva; font-size: 14px;"><a href="../../../blog/energy/energy-providers-gas-and-electricity/">Energy Providers and Comparison Sites.</a>&nbsp;</strong></span></div>
				<div>&nbsp;</div>
				<div>
				<div style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;">&nbsp;</div>
				<div style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;"><span style="font-size: 14px;"><strong>Maintenance &amp; Repair</strong></span></div>
				<div style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;"><span style="font-size: 14px;">&nbsp;-&nbsp;<strong><a href="../../../blog/water-treatment/power-flushing-of-wet-central-heating-systems/">Powerflushing</a></strong></span></div>
				<div style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;">
				<p>&nbsp;</p>
				</div>
				</div>
				<p>&nbsp;</p>
				<p>&nbsp;</p>				
				<div>&nbsp;</div><div>&nbsp;
			</div>
		</div>
	</div>
</div>