<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="about"></div>
			</div>
		</div>
		<!-- row -->
</div>

<div class="main-heading2">
	<h2>About</h2>
</div>

<div class="container">
	<div class="hidden-phone">
		<div class="bg">

			<!-- content start -->
			<br />
			<div class ="content paddtp34 paddall">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">

							<h3>Most people's heating systems are not running to their maximum 'A Rated' efficiency. They are costing them more than they need to in addition to rising energy costs.</h3>

							<h3>Our mission here at MyBoiler, is to keep people warm using the most suitable and efficient 'A Rated' appliances and products available.  The MyBoiler Team is able to install and optimise systems, thereby saving on utility bills and unnecessary expenses.</h3>

							<h3> With a highly experienced team of engineers and speciliasts, MyBoiler is here to 'Keep People Warm'
							</h3>
					</div>
				</div><!--row -->


					<style>#navigation {
						  margin-left: 5em;
						  margin-right: 5em;
						  border-top: 1px solid #e3e3e3;
						  border-bottom: 1px solid #e3e3e3;
						  text-align: center;
						}				
					</style>

			<!--
			<div class="sticky-wrapper">	
				<div id="navigation" class="">
					<ul>
						<li><a ng-href="#about-a" class="active">Founders</a></li>
						<li><a href="#about-b" class="">Team</a></li>
						<li><a href="#about-c">Investors</a></li>
						<li><a href="#about-d">Get in touch</a></li>
					</ul>
				</div>
			</div> <!--sticky-wrapper -->

			<hr />

			<div id="about-a">
				<h3>Founders</h3>
				<div class="founders">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/person.png" alt="logo">
								</div>
							</div>

							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-6">
									<div class="name"> 
										<h2>Jayesh Kanbi</h2>
									</div>
									<div class="title">
										Founder and Technical Speciliast.
									</div>
									<br />
									<div class="skills"> 
										A gas and heating engineer specialising in high end, hi-tech and efficient 'A Rated' solutions. Specialities include Smart Thermostat installations and Connected Homes.
										8 Years experience in this field.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- founders --> 
<!--
				<div class="founders">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/person.png" alt="logo">
								</div>
							</div>
							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-7">
									<div class="name"> 
										<h2>Vinay Rabadia</h2>
									</div>
									<div class="title">
										Co-Founder and Site Specialist.
									</div>
							<br />
									<div class="skills"> 
										With 13 years experience covering complete heating and plumbing from domestic to commercial properties. Speciliased in systems for large multi-million pound homes for a variety of high net worth individuals and contractors.
									</div>
								</div>
							</div><!-- bio -->  <!--
						</div>
					</div>
				</div><!-- founders --> 
			</div><!-- about-a -->

			<hr />

			<div id="about-b">
				<h3>Partners</h3>
				<div class="partners">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/team/giles.jpg" alt="logo">
								</div>
							</div>

							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-7">
									<div class="name"> 
										<h2>Giles Hanford</h2>
									</div>

									<div class="title">
										Solar Thermal Specialist.
									</div>
									<br />
									<div class="skills"> 
										This is our solar thermal specialist. Taking on both domestic and commercial installations and repairs. MCS certified and a Solar Association approved member. Prior to Solar Thermal, Giles was a Ground Water engineer.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- partners --> 

				<div class="partners">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/person.png" alt="logo">
								</div>
							</div>
							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-7">
									<div class="name"> 
										<h2>Vinay Rabadia</h2>
									</div>
									<div class="title">
										Site Specialist.
									</div>
							<br />
									<div class="skills"> 
										With 13 years experience covering complete heating and plumbing from domestic to commercial properties. Speciliased in systems for large multi-million pound homes for a variety of high net worth individuals and contractors.
									</div>
								</div>
							</div><!-- bio -->  
						</div>
					</div>
				</div><!-- partners -->
			</div><!-- about-b -->

			<hr />

			<div id="about-c">
				<h3>Investors</h3>
				<div class="investors">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/person.png" alt="logo">
								</div>
							</div>

							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-7">
									<div class="name"> 
										<h2>Naran Kanbi</h2>
									</div>

									<div class="title">
										Investor and Senior Domestic/Commercial Engineer
									</div>
									<br />
									<div class="skills"> 
										A heating engineer with 25 years experience, investing and supporting the next generation was a natural step.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- investors -->

				<div class="investors">
					<div class="row paddtp34">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="thumb">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<img class="img-responsive" src="./assets/images/person.png" alt="logo">
								</div>
							</div>

							<div class="bio">
								<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-7">
									<div class="name"> 
								<h2>Caney Birch</h2>
							</div>
							<div class="title">
								Advisor and Investor.
							</div>
							<br />
							<div class="skills"> 
							A company that specialises in civil engineering, health and safety and home improvements.
							</div>
						</div>
					</div>
				</div><!-- investors --> 
			</div><!-- about-c -->

			</div><!-- Content End -- >

		</div><!-- Bg Gray -- >
	</div><!-- Hidden Phone -- >
</div><!-- Container -- >
