//colors
$color_quill_gray_approx: #d8d4d4;
$white: #ffffff;
$color_martinique_approx: #2f2c57;
$color_boston_blue_approx: #428bca;
$color_steel_gray_approx: #201f3c;
$color_alto_approx: #dcdcdc;
$color_regent_gray_approx: #8a9298;
$color_tuatara_approx: #343433;
$alabaster: #fafafa;
$color_sapphire_approx: #34519c;
$color_gray_approx: #828282;
$color_gallery_approx: #f0f0f0;
$color_cararra_approx: #ececec;
$color_froly_approx: #fa787e;
$color_pastel_green_approx: #78fa89;
$color_silver_chalice_approx: #aeaeae;
$black_30: rgba(0,0,0,0.3);
$color_azure_approx: #3a589b;`
$color_punch_approx: #d6492f;
$color_celeste_approx: #cccccc;
$color_mercury_approx: #e3e3e3;
$color_danube_approx: #748fd7;
$color_forest_green_approx: #309530;
$color_red_approx: #ff0000;
$color_matisse_approx: #1a62a0;
$color_fire_bush_approx: #ec9f31;
$color_chambray_approx: #2f498d;
$color_astronaut_approx: #253d75;
$black: #000000;
$color_flush_mahogany_approx: #c13534;
$color_stiletto_approx: #992b2a;
$color_pink_swan_approx: #b9b9ba;
$color_fuscous_gray_approx: #555555;
$color_wild_sand_approx: #f5f5f5;
$color_santas_gray_approx: #9da6ae;
$mercury: #e5e5e5;
$color_desert_storm_approx: #f8f8f8;
$black_17.6: rgba(0, 0, 0, 0.176);
$color_cape_cod_approx: #41433d;
$color_star_dust_approx: #a0a19e;
$color_iron_approx: #d8d6d6;
$color_fun_blue_approx: #1656a5;
$color_suva_gray_approx: #888;

//fonts
$font_0: Arial;
$font_1: lato;
$font_2: arial;
$font_3: Helvetica;
$font_4: sans-serif;
$font_5: Consolas;
$font_6: monospace;

//@extend-elements
//original selectors
//.navbar-toggle:active, .navbar-toggle:focus
%extend_1 {
	outline: 0;
	margin-right: 15px;
	background: url(../images/close.png) 15px 13px no-repeat;
	height: 44px;
}

//original selectors
//.nav > li > a:hover, .nav > li > a.active, .nav > li > a:focus
%extend_2 {
	color: $color_red_approx;
	text-decoration: none;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 4px;
}

//original selectors
//.btn-learn-more a, .btn-learn-more a:hover
%extend_3 {
	background: $black;
	text-transform: uppercase;
	font-size: 11px;
}

//original selectors
//.nav > li > a:hover, .nav > li > a.active, .nav > li > a:focus
%extend_4 {
	color: $white;
	background: $color_steel_gray_approx;
	text-decoration: none;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
}

//original selectors
//.nav > li > a:hover, .nav > li > a.active, .nav > li > a:focus
%extend_5 {
	color: $white;
	background: #2F2C57 !important;
	text-decoration: none;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
}


html {
	overflow-x: hidden;
}
body {
	margin-top: 0;
	font-family: $font_1;
	color: $color_tuatara_approx;
	background-color: $alabaster;
	overflow-x: hidden;
}
a {
	color: #34519C;
	&:hover {
		outline: none;
		text-decoration: none;
	}
	&:focus {
		outline: none;
		text-decoration: none;
	}
}
.container {
}
#pcontainer {
	background-color: $white;
}
.content {
	color: $color_regent_gray_approx;
	font-family: $font_0;
}
.ovfl {
	overflow: hidden;
}
.algn-center {
	text-align: center;
	label {
		position: relative;
		&:after {
			content: '<>';
			font: 16px $font_5, $font_6;
			color: $color_silver_chalice_approx;
			//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(90deg);
			right: 8px;
			top: 0;
			padding: 0 0 8px;
			border-bottom: 1px solid $color_alto_approx;
			position: absolute;
			pointer-events: none;
		}
		&:before {
			content: '';
			right: 0;
			top: 0;
			width: 20px;
			height: 30px;
			background: $color_desert_storm_approx;
			position: absolute;
			pointer-events: none;
			display: block;
		}
	}
	select {
		padding: 3px;
		margin: 0;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 4px;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 0 $color_celeste_approx, 0 -1px $white inset;
		background: $color_desert_storm_approx;
		color: $color_suva_gray_approx;
		border: none;
		outline: none;
		display: inline-block;
		moz-appearance: none;
		appearance: none;
		cursor: pointer;
		width: 100%;
		height: 30px;
	}
}
.btn {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	&:hover {
		color: ffffff;
	}
	&:focus {
		color: ffffff;
	}
}
.navbar {
	margin-bottom: 0;
}
.navbar-container {
	padding-left: 0;
	padding-right: 0;
}
.paddingleft15 {
	padding-left: 15px !important;
}
.padding-right30 {
	padding-right: 30px !important;
}
.space00 {
	padding-top: 70px;
}
.paddall {
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.resultpaddall {
	padding: 10px;
	overflow: hidden;
}
.paddall1 {
	padding: 14px;
}
.paddlt4 {
	padding-left: 4px;
}
.paddlt7 {
	padding-left: 7px;
}
.paddlt6 {
	padding-left: 6px;
}
.paddlt5 {
	padding-left: 5px;
}
.paddtp3 {
	padding-top: 3px;
}
.paddtp5 {
	padding-top: 5px;
}
.paddtp34 {
	padding-top: 34px;
}
.paddrgt7 {
	padding-right: 7px;
}
.paddrgt6 {
	padding-right: 6px;
}
.paddrgt0 {
	padding-right: 0;
}
.paddlt0 {
	padding-left: 0;
}
.paddlt-rt5 {
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}
.mrgnbtm10 {
	margin-bottom: 10px;
}
.mrgntp10 {
	margin-top: 10px;
}
.mrgnbt14 {
	margin-bottom: 14px;
}
.mrgntp5 {
	margin-top: 5px;
}
.mrgntp18 {
	padding-top: 18px;
}
.margintop5 {
	margin-top: 9px;
	margin-bottom: 2px;
}
.margn-left40 {
	margin-left: 40px;
}
.align-right {
	text-align: right;
}
.seprate {
	margin-top: 10px;
}
.height100 {
	height: 123px;
}
.height42 {
	height: 42px;
}
.height58 {
	height: 58px;
}
.height29 {
	height: 29px;
}
.height48 {
	height: 48px;
}
.height22 {
	height: 22px;
}
.height82 {
	height: 82px;
}
.height122 {
	height: 122px;
}
.heading {
	font-size: 18px;
	color: $color_martinique_approx;
}
.heading2 {
	font-size: 18px;
	color: $color_tuatara_approx;
}
.heading3 {
	font-size: 14px;
	color: $color_martinique_approx;
	font-weight: bold;
	text-transform: uppercase;
}
.heading4 {
	font-size: 18.5px;
	color: $color_martinique_approx;
	font-weight: bold;
	text-transform: uppercase;
}
.font-size18 {
	font-size: 18px;
}
.font-size12 {
	font-size: 12px;
	color: $color_gray_approx;
}
.font-size28 {
	font-size: 28px;
	line-height: 32px;
}
.font-size24 {
	font-size: 24px;
	line-height: 32px;
}
.left-bg {
	background: none repeat scroll 0 0 #F0F0F0;
	border: 1px solid #FFFFFF;
	padding-bottom: 15px;
	padding-top: 10px;
	min-height: 492px;
}
.img-border {
	border: 2px solid $white;
}
.sidebar-border {
	border-top: 2px solid #D4D3D3;
	border-bottom: 2px solid #D4D3D3;
}
.color {
	color: $color_martinique_approx;
}
.text-underline {
	text-decoration: underline;
}
.bg-white {
	background: $white;
}
.nav-bottom {
	border-bottom: 5px solid $color_cararra_approx;
	opacity: 0.5;
	position: relative;
	width: 100%;
	height: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
}
.banner {
	width: 100%;
	img {
		width: 100%;
	}
}
.navbar-nav {
	float: right;
	> li {
		&.span {
			float: right;
			text-align: center;
		}
		> a {
			font-family: $font_1;
			font-size: 14px;
			color: $color_tuatara_approx;
			margin-top: 12px;
		}
	}
}
.tagline {
	font-family: $font_1;
	font-size: 24px;
	color: #AEAEAE;
	text-align: center;
	margin-top: -25px;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 1px 1px 1px $black_30;
}
.orImages {
	background: url(../images/or.png) 0 0 no-repeat;
	width: 50%;
	height: 151px;
	text-align: center;
	margin: 0 auto;
}
.facebook {
	background: $color_azure_approx;
	min-width: 136px;
	height: 40px;
	line-height: 40px;
	color: $white;
	font-size: 18px;
	padding-left: 5px;
}
.google-plus {
	background: $color_punch_approx;
	min-width: 136px;
	height: 40px;
	line-height: 40px;
	color: $white;
	font-size: 18px;
	padding-left: 5px;
}
.paddingLeft0 {
	padding-left: 0 !important;
}
.brdgray {
	border: 1px solid $color_celeste_approx;
	background: $color_mercury_approx;
	padding: 10px;
}
.width100 {
	width: 100%;
}
.line2 {
	margin-top: 31px;
	border-top: 1px solid #D8D4D4;
}
.or {
	background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
	height: 46px !important;
	margin-top: -10%;
	width: 100%!important;
	text-align: center;
	margin-left: -10%;
}
.or2 {
	background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
	height: 46px !important;
	margin-top: -5%;
	text-align: center;
	margin-left: 20%;
}
.brd-left1 {
	border-left: 1px solid $color_alto_approx;
}
.light-blue {
	color: #34519C !important;
}
.boxinfo {
	background: $color_cararra_approx;
	border-left: 4px solid $color_danube_approx;
	min-height: 40px;
	margin-bottom: 5px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.green {
	color: $white;
	background: $color_forest_green_approx;
	padding: 2px;
}
.red {
	color: $white;
	background: $color_red_approx;
	padding: 2px;
}
.blue {
	color: $white;
	background: $color_matisse_approx;
	padding: 2px;
}
.warning {
	color: $color_fire_bush_approx;
	font-weight: bold;
}
.navbar-brand {
	padding-left: 0;
}
.navbar-toggle {
	outline: 0;
	margin-right: 25px;
	background: url(../images/navbar-toggle.png) 15px 10px no-repeat;
	height: 44px;
	&:active {
		@extend %extend_1;
	}
	&:focus {
		@extend %extend_1;
	}
}
.btn-primary-custom {
	background: $color_chambray_approx;
	height: 40px;
	width: 100%;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: $white;
	padding: 6px 10px !important;
	&:hover {
		background: $color_astronaut_approx;
		color: $white;
	}
}
.btn-learn-more {
	background: url(../images/learn-more.png) 0 0 repeat;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	height: 40px;
	width: 140px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: $white;
	padding-left: 30px;
	border: none;
	a {
		@extend %extend_3;
		&:hover {
			@extend %extend_3;
		}
	}
}
.main-heading {
	background: url(../images/main-heading-bg.png) 0 0 repeat-x;
	height: 60px;
	width: 100%;
	h2 {
		text-align: center;
		background: $color_martinique_approx;
		max-width: 300px;
		font-size: 18px;
		line-height: 60px;
		margin: 0 auto;
		color: $white;
		height: 60px;
	}
}
.main-heading2 {
	background: url(../images/main-heading-bg2.png) 0 0 repeat-x;
	height: 60px;
	width: 100%;
	h2 {
		text-align: center;
		background: $color_martinique_approx;
		max-width: 300px;
		font-size: 18px;
		line-height: 60px;
		margin: 0 auto;
		color: $white;
		height: 60px;
		text-transform: uppercase;
	}
}
.bg-gray {
	background: $color_cararra_approx;
	overflow: hidden;
	padding-bottom: 20px;
}
.input-bg {
	border-top: 2px solid $color_pink_swan_approx;
	color: $color_fuscous_gray_approx;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 6px 7px;
	vertical-align: middle;
	margin-right: 15px;
	margin-bottom: 5px;
}
.input-bg1 {
	border: none;
	background: $white;
	border-top: 2px solid $color_pink_swan_approx;
	color: $color_fuscous_gray_approx;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 6px 12px;
	vertical-align: middle;
	width: 100%;
	margin-right: 3px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
}
.input-bg2 {
	background: url(../images/sprite.png) 0 -94px no-repeat;
	border: none;
	color: $color_fuscous_gray_approx;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 6px 12px;
	vertical-align: middle;
	width: 300px;
	margin-right: 3px;
}
.input-bg3 {
	background: url(../images/sprite.png) 0 -145px no-repeat;
	border: none;
	color: $color_fuscous_gray_approx;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 6px 12px;
	vertical-align: middle;
	width: 140px;
	margin-right: 3px;
}
.boilername {
	background: $color_wild_sand_approx;
	border-bottom: 2px solid $color_quill_gray_approx;
	border-top: 2px solid $color_quill_gray_approx;
	width: 100%;
	overflow: hidden;
}
.boilername-top {
	border-top: 2px solid $color_quill_gray_approx;
}
#footer {
	width: 100%;
	background: $color_santas_gray_approx;
}
ul {
	&.footer-signin {
		margin: 0;
		padding: 0;
		li {
			float: left;
			display: inline-block;
			padding-right: 15px;
			color: $white;
			a {
				color: $white;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&.footer-link {
		margin: 0;
		padding: 0;
		li {
			padding-right: 15px;
			color: $white;
			list-style: none;
			a {
				color: $white;
				font-family: $font_2;
				font-size: 12px;
				line-height: 30px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&.dropdownWidth {
		min-width: 100% !important;
		background: #ECECEC;
		border: 0 solid #ECECEC;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 10px 12px $black_17.6 !important;
		margin-top: -5px !important;
		li {
			width: 100% !important;
			a {
				width: 100% !important;
				padding: 3px 11.5px;
				&:hover {
					background: $color_sapphire_approx !important;
				}
			}
		}
	}
}
.footer-text {
	padding-top: 41px;
	padding-bottom: 20px;
	p {
		color: $white;
		font-family: $font_0, $font_3, $font_4;
		font-size: 10px;
		opacity: 0.5;
		text-align: center;
	}
}
.modal-dialog {
	width: 750px;
}
.close {
	opacity: 100;
}
.modal-footer {
	border-bottom: 0 solid #E5E5E5 !important;
}
.modal-header {
	border-bottom: 0 solid #E5E5E5 !important;
	padding-bottom: 0;
}
.modal-content {
	background: $color_cararra_approx;
}
.modal-body {
	padding-top: 10px;
	p {
		font-size: 18px;
		font-family: $font_1;
		color: $color_tuatara_approx;
		max-width: 520px;
	}
}
.carousel-caption {
	bottom: 0;
}
.map-icon {
	background: url(../images/map-icon.png) 0 0 no-repeat;
	width: 42px;
	height: 59px;
	padding-top: 40px;
	text-align: center;
	font-weight: bold;
}
.redcolor {
	color: $color_red_approx;
}
#gc1 {
	font-size: 24px !important;
}
.width125 {
	margin-top: 25px;
	width: 125px;
}
.fontSize {
	font-size: 30px;
}
.fontSize18 {
	font-size: 18px;
}
.dropdown-menu {
	padding-top: 0;
}
.blank {
}
#loading {
	display: none;
	text-align: center;
	margin-top: 20px;
}
.tablearrow {
	margin-top: 35px;
}
.font-size11 {
	font-size: 11px;
	line-height: 18px;
}
.heading_bg {
	background: $color_wild_sand_approx;
	border-bottom: 1px solid $color_quill_gray_approx;
	border-top: 1px solid $color_quill_gray_approx;
	border-right: 1px solid $color_quill_gray_approx;
	border-left: 1px solid $color_quill_gray_approx;
	width: 100%;
	overflow: hidden;
}
.paddall5 {
	padding: 5px;
}
.mrgnTop25 {
	margin-top: 25px;
}
.width180 {
	width: 180px;
	margin-top: 25px;
}
.fontSize10 {
	font-size: 11px;
	font-family: $font_1;
}
.innerEnginer {
	h2 {
		font-size: 24px;
		font-family: $font_1;
		text-transform: uppercase;
		font-weight: 300;
		padding-bottom: 20px;
	}
	p {
		font-size: 14px;
		font-family: $font_1;
		line-height: 22px;
		text-align: justify;
	}
	h4 {
		margin-bottom: 0;
		font-family: $font_1;
		padding-top: 5px;
	}
}
.whiteBackground {
	background: $white;
}
.rounded-border0 {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
}
.brd-input {
}
.border-bottom-gray2 {
	border-bottom: 1px solid $color_star_dust_approx;
}
.title-color {
	background: #D8D6D6;
}
.error {
	color: #FF0000;
	font-style: italic;
	font-weight: bold;
}
#cbtn {
	display: none;
}
.errborder {
	border: thin dotted #FF0000;
}
.noSelect {
	//Instead of the line below you could use @includeuser-select($select)
	user-select: none;
	background-color: #1656A5;
	color: $white;
	width: 50px;
	padding: 3px;
	text-align: center;
	cursor: default;
}
#processing {
	margin-left: 48%;
	display: none;
	height: 20px;
}
.model-img {
	padding-top: 50px;
}
.fourofour {
	height: 200px;
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
	.usericon {
		text-align: center;
		width: 100%;
	}
	.navbar-brand {
		padding-left: 15px !important;
	}
	.font-size18 {
		font-size: 13px;
	}
	.tablearrow {
		margin-top: 20px !important;
	}
	.line2 {
		margin-top: 31px;
		border-top: 1px solid #D8D4D4;
	}
	.or {
		background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
		height: 46px !important;
		margin-top: -4% !important;
		width: 100%!important;
		text-align: center;
		margin-left: 10% !important;
	}
	.orImages {
		background: url(../images/or2.png) 0 0 no-repeat !important;
		width: 100% !important;
		height: 40px !important;
		margin-top: -17px !important;
		img {
		}
	}
	.line {
		border-top: 1px solid $color_quill_gray_approx;
	}
	.banner img {
		display: none;
		margin-top: 0 !important;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	.consumer_class {
		background: url(../images/nest320px.png) 0 0 no-repeat;
		height: 300px;
		width: 320px;
	}
	.engineer_class {
		background: url(../images/banner-col-xs-1.png) 0 0 no-repeat;
		height: 300px;
		width: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	.consumer_class {
		background: url(../images/nest480px.png) 0 0 no-repeat;
		height: 300px;
		width: 480px;
	}
	.engineer_class {
		background: url(../images/banner-col-xs-1-480.png) 0 0 no-repeat;
		height: 300px;
		width: 480px;
	}
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.or {
		background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
		height: 46px !important;
		margin-top: -4% !important;
		width: 100%!important;
		text-align: center;
		margin-left: 22% !important;
	}
	.orImages {
		background: url(../images/or2.png) 0 0 no-repeat !important;
		width: 66% !important;
		height: 48px !important;
		margin-top: -17px !important;
		img {
		}
	}
	.line {
		border-top: 1px solid $color_quill_gray_approx;
	}
	.nav {
		.open > a {
			background-color: #2F2C57;
			border-color: #428BCA;
			&:hover {
				background-color: #2F2C57;
				border-color: #428BCA;
			}
			&:focus {
				background-color: #2F2C57;
				border-color: #428BCA;
			}
		}
		> li > a {
			&:hover {
				@extend %extend_4;
			}
			&.active {
				@extend %extend_4;
			}
			&:focus {
				@extend %extend_4;
			}
		}
	}
	.bg-white {
		background: $white;
		min-height: 80px;
	}
	.marginbt10 {
		margin-bottom: 10px;
	}
	.usericon {
		text-align: center;
		width: 100%;
	}
	.navbar-nav {
		float: left !important;
		width: 100%;
		margin-right: 0;
		background: $color_martinique_approx;
		> li > a {
			color: $white;
			text-align: center;
			border-bottom: 2px solid $color_martinique_approx;
			margin-top: 0;
		}
	}
	.navbar-collapse {
		padding-right: 0;
	}
	.mrgntp5 {
		float: none !important;
		margin-bottom: 10px;
		margin-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.btn-primary {
		width: 100% !important;
	}
	.btn-default {
		width: 100% !important;
	}
	.height122 {
		height: 40px;
	}
	.heading4 {
		padding-top: 40px;
	}
	.margintop10 {
		margin-top: 10px;
	}
	.paddlt-rt0 {
		padding-left: 0;
		padding-right: 0;
	}
	.width40 {
		width: 40px;
		height: 30px;
	}
	.tagline {
		font-size: 16px;
		max-width: 80%;
	}
	.content img {
		max-width: 100%;
		height: auto;
	}
	ul.dropdownWidth li {
		width: 100% !important;
		a {
			color: $white;
			text-align: center;
			width: 100% !important;
		}
	}
	.container > {
		.navbar-header {
			margin-right: -30px;
		}
		.navbar-collapse {
			margin-right: -30px;
		}
	}
	.banner img {
		display: none;
		margin-top: 0 !important;
	}
}
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	.paddlt-rt0 {
		padding-left: 0;
		padding-right: 0;
	}
	.heading4 {
		padding-top: 40px;
	}
	.margintop10 {
		margin-top: 10px;
	}
	.left-bg {
		min-height: 200px;
	}
	.banner {
	}
	.container {
		max-width: 760px;
		> {
			.navbar-header {
				margin-right: -30px;
			}
			.navbar-collapse {
				margin-right: -30px;
			}
		}
	}
	.mrgntp10 {
		margin-top: 0;
	}
	.mrgntp5 {
		margin-top: 0;
		float: none !important;
		margin-bottom: 5px;
		margin-top: 15px;
		padding-right: 10px;
	}
	.navbar-nav {
		float: left !important;
		width: 100%;
		margin-right: 0;
		background: $color_martinique_approx;
		> li > a {
			margin-top: 6px;
			color: $white;
			text-align: center;
			border-bottom: 2px solid $color_martinique_approx;
			margin-top: 0;
		}
	}
	.mrgnbt14 {
		margin-bottom: 0;
	}
	.bg-white {
		background: $white;
	}
	.usericon {
		text-align: center;
		width: 100%;
	}
	.navbar-collapse {
		padding-right: 0;
	}
	.btn-primary {
		width: 100% !important;
	}
	.btn-default {
		width: 100% !important;
	}
	.height122 {
		height: 40px;
	}
	.tagline {
		font-size: 18px;
		max-width: 80%;
	}
	.or {
		background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
		height: 46px !important;
		margin-top: -4% !important;
		width: 100%!important;
		text-align: center;
		margin-left: 20% !important;
	}
	.orImages {
		background: url(../images/or2.png) 0 0 no-repeat !important;
		width: 37% !important;
		height: 40px !important;
		margin-top: -17px !important;
		img {
		}
	}
	.line {
		border-top: 1px solid $color_quill_gray_approx;
	}
	.nav > li > a {
		&:hover {
			@extend %extend_5;
		}
		&.active {
			@extend %extend_5;
		}
		&:focus {
			@extend %extend_5;
		}
	}
}
@media only screen and (max-width: 980px), only screen and (max-device-width: 980px) {
	.paddlt-rt0 {
		padding-left: 0;
		padding-right: 0;
	}
	.heading4 {
		padding-top: 40px;
	}
	.margintop10 {
		margin-top: 10px;
	}
	.left-bg {
		min-height: 200px;
	}
	.or {
		background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
		height: 46px !important;
		margin-top: -4% !important;
		width: 100%!important;
		text-align: center;
		margin-left: 20% !important;
	}
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
	.or {
		background: url("../images/or3.png") no-repeat scroll 57px 0 rgba(0, 0, 0, 0) !important;
		height: 46px !important;
		margin-top: -4% !important;
		width: 100%!important;
		text-align: center;
		margin-left: 20% !important;
	}
	.orImages {
		background: url(../images/or2.png) 0 0 no-repeat !important;
		width: 37% !important;
		height: 40px !important;
		margin-top: -17px !important;
		img {
		}
	}
	.line {
		border-top: 1px solid $color_quill_gray_approx;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.tagline {
		text-align: center;
	}
}
@media (min-width:1024px) {
	#pcontainer {
		max-width: 1280px;
		padding: auto;
		margin: auto;
		text-align: left;
		background-color: #FFFFFF;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: -10px 0 20px -5px #DCDCDC, 10px 0 20px -5px #DCDCDC;
	}
	.content {
		color: $color_regent_gray_approx;
		padding: 50px 75px;
		font-family: $font_0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.tagline {
		text-align: center;
	}
	.navbar-nav > li > a {
		font-family: $font_1;
		font-size: 14px;
		color: $color_tuatara_approx;
		margin-top: 12px;
		padding: 7px 8px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {
		padding-right: 18px;
	}
}
@media all\0 {
	.pull-left {
		float: left !important;
	}
	.pull-right {
		float: right !important;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-1 {
		width: 8.33333%;
		float: left;
	}
	.col-md-2 {
		width: 16.6667%;
		float: left;
	}
	.col-md-3 {
		width: 25%;
		float: left;
	}
	.col-md-4 {
		width: 33.3333%;
		float: left;
	}
	.col-md-5 {
		width: 41.6667%;
		float: left;
	}
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-7 {
		width: 58.3333%;
		float: left;
	}
	.col-md-8 {
		width: 66.6667%;
		float: left;
	}
	.col-md-9 {
		width: 75%;
		float: left;
	}
	.col-md-10 {
		width: 83.3333%;
		float: left;
	}
	.col-md-11 {
		width: 91.6667%;
		float: left;
	}
	.navbar-header {
		float: left;
	}
	.container {
		max-width: 1170px;
	}
}
.carousel-inner > .item > {
	img {
		height: 366px;
	}
	a > img {
		height: 366px;
	}
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.ui-dialog .ui-dialog-title {
	text-align: center;
	text-transform: uppercase;
}
.nav > li > a {
	&:hover {
		@extend %extend_2;
	}
	&.active {
		@extend %extend_2;
	}
	&:focus {
		@extend %extend_2;
	}
}
.search:hover {
	color: $white;
	background: $color_stiletto_approx;
}
.left-arrow img {
	height: 9px;
	margin-top: -2px;
}
.right-side h3 {
	font-size: 18px;
	font-family: $font_1;
	color: $color_cape_cod_approx;
	margin-top: 50px;
	margin-bottom: 20px;
}
label:before {
	content: '';
	right: 6px;
	top: 0;
	width: 20px;
	height: 20px;
	background: $color_desert_storm_approx;
	position: absolute;
	pointer-events: none;
	display: block;
}