<link href="./styles/nestpro.css" media="all" rel="stylesheet" />
<style type="text/css">

</style>

<div id="main">
        <div class="container">
          <div class="homepage">
  <section class="signup">
    <div class="start-here">
      <header>
        <h1>Become a Nest Pro.</h1>
      </header>
      <p>Become a Nest Pro and start selling and installing the award-winning products that are making homes more thoughtful. You'll get <strong>exclusive training</strong> and tools, live <strong>VIP support</strong>, <strong>customer referrals</strong>, and <strong>professional pricing</strong> and terms to help your business grow.</p>
      <a class="button blue" data-label="Homepage Signup" data-track="signup" href="https://pro.nest.com/uk#signup">Sign Up</a>
    </div>
  </section>

  <section>
    <div class="two-thirds">
      <div class="talking-about-thermostats">
        <div class="everyone-talking">
          <div class="default">
              <img alt="Everyone talking amber" src="https://pro.nest.com/static-assets/homepage/everyone-talking-amber-71d4995634f82987611137a99e539725.jpg" />
          </div>
          <div class="retina">
              <img alt="Everyone talking amber 2x" src="https://pro.nest.com/static-assets/homepage/everyone-talking-amber_2x-b41f7a53df1ea6830edab93be90ed3db.jpg" />
          </div>
        </div>
        <header>
          <h1>Meet the thermostat that&nbsp;has&nbsp;everyone talking&nbsp;about&nbsp;thermostats.</h1>
        </header>
        <p>Customers love the Nest Learning Thermostat because it learns their schedule and programs itself to save energy. And you’ll love it because it works with most heating systems and comes with everything you need for a fast installation.</p>
        <a href="https://nest.com/uk/thermostat/inside-and-out/" target="_blank">Learn more&nbsp;<b>&gt;</b></a>
      </div>
      <div class="co-safety">
        <div class="co-safety-image">
          <div class="default">
            <img alt="Co safety" src="https://pro.nest.com/static-assets/homepage/co-safety-fca5568d631f1b96ad04f1812c30a1db.jpg" />
          </div>
          <div class="retina">
            <img alt="Co safety 2x" src="https://pro.nest.com/static-assets/homepage/co-safety_2x-d322f103b2162e5addda66dfb9b4fa01.jpg" />
          </div>
        </div>
        <header>
          <h1>Safety never goes out&nbsp;of&nbsp;season.</h1>
        </header>
        <p>Give your customers extra peace of mind with the Nest Protect smoke and CO alarm. It messages their phone if the alarm goes off or the batteries are running low. It speaks with a human voice, telling you what and where the danger is. And it&#39;s designed to work with the Nest Thermostat.</p>
        <a href="https://nest.com/uk/smoke-co-alarm/inside-and-out/" target="_blank">Learn more&nbsp;<b>&gt;</b></a>
      </div>
    </div>

    <div class="one-third">
      <section class="news">
        <header class="sub-header">
          <h1>PRO NEWS</h1>
        </header>
          <div class="article">
              <div class="image">
                <img src="https://s3.amazonaws.com/pro-assets.nest.com/uploads/news_item/picture/6/nest_announcement_post.png" />
              </div>
            <div class="info">
              <h2>
                <a href="https://pro.nest.com/uk/blog/welcome-to-the-new-nest-pro">Welcome to the new Nest Pro.</a>
              </h2>
              <a class="read-more" href="https://pro.nest.com/uk/blog/welcome-to-the-new-nest-pro">Read more&nbsp;<b>&gt;</b></a>
            </div>
          </div>
        <!--
        <div class="signup-for-news email">
          <h2>Stay Updated</h2>
          <form action="https://pro.nest.com/api/v1/email_subscriptions" method="POST" data-track="handraiser" data-label="Homepage handraiser" novalidate>
            <input type="email" name="email" placeholder="Enter email for Nest news">
            <button>&gt;</button>
            <div class="disclaimer">Private, secure, spam free.</div>
            <div class="message signup-invalid-email">
              Please enter a valid email address.
            </div>
            <div class="message signup-server-error">
              Oops! There was an error. Try again?
            </div>
            <div class="message signup-success">
              Success! Nest will keep you updated
            </div>
          </form>
        </div>
        -->
      </section>

    </div>
  </section>

  <div class="clear"></div>

  <section class="works-with-nest">
    <div class="start-here">
      <header>
        <h1>Works with Nest.</h1>
      </header>
      <p>
        What if a thermostat could do more than control the temperature? Or a smoke and CO alarm could work together with a light bulb to signal danger? Nest is working with companies all over the world to create a more conscious and thoughtful home.
        <a href="https://nest.com/uk/works-with-nest/" target="_blank">Learn More&nbsp;<b>&gt;</b></a>
      </p>
    </div>
    <div class="desktop-works"></div>
    <ul class="partners">
      <li class="logo-chamberlain"></li>
      <li class="logo-ifttt"></li>
      <li class="logo-logitech"></li>
      <li class="logo-lifx"></li>
      <li class="logo-benz"></li>
      <li class="logo-jawbone"></li>
    </ul>
  </section>

  <section class="bottom">
    <div class="support">
      <header class="sub-header">
        <h1>SUPPORT</h1>
      </header>
      <ul>
        <li><a href="https://pro.nest.com/uk/support" class="vip-support">VIP Support&nbsp;<b>&gt;</b></a></li>
      </ul>
    </div>

    <div class="join-the-conversation">
      <header class="sub-header">
        <h1>JOIN THE CONVERSATION</h1>
      </header>
      <ul>
        <li class="right_align"><a href="https://www.linkedin.com/company/the-nest-certified-programme" target="_blank" class="linkedin" data-track="linkedin" data-label="Homepage LinkedIn">Follow&nbsp;<b>&gt;</b></a></li>
        <li><a href="https://twitter.com/nestuk_" target="_blank" class="twitter" data-track="twitter" data-label="Homepage Twitter">Follow&nbsp;<b>&gt;</b></a></li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
</div>


        </div>
      </div>