<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="services"></div>
			</div>
		</div>
		<!-- row -->
	</div>

	<div class="main-heading2">
		<h2>Top tips</h2>
	</div>

	<div class="container">
		<div class="hidden-phone">
			<div class="bg">
				<div>&nbsp;</div><div>&nbsp;</div>
					<p><span style="color: #808080; font-family: verdana, geneva;"><span style="font-size: 16px;"><strong>1. Is the customer always right? The answer is actually 'No'</strong></span>&nbsp;</span></p>
<p><span style="font-size: 14px; color: #999999; font-family: verdana, geneva;">The crucial thing to understand that the customer is not always right, but how you handle the situation and resolve things will make more difference to the outcome. Remember without customers there is no jobs and so it is very important to have a good system where the overall outcome is Win Win</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>2. Verbal Agreements versus written Agreements</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">It is better to have at least something written on a single piece of A4 paper than nothing at all. Verbal agreements are legal in the UK, however unless something is documented over time after further verbal changes, sometimes communications can become forgotten and lost.</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>3. Good Time keeping.</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">Timekeeping among tradesman is probably one of the most common irritations to customers. Customer's time is just as valuable as your time. Tradesman know that jobs can get delayed causing you not to be able to make your appointment in time. Learning to allow a little extra time in estimates. If you are running late, thanks to modern technology a quick SMS or a call puts your customer at ease. Also it is better to give time slots rather than exact times so that you have a little allowance</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>4. Tools of the Trade</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">Taking a little time out to learn tools both physical and digital can save you in time and money on jobs. Thanks to smart phones and tablet PCs equipped with high speed mobile internet, a variety of tools exist that can help engineers and trademans to increase their productivity. See our tools section for some of these tools and resources. Remember a good tool will save you more time and money than it costs in the first place.</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>5. Under promise and over deliver!</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">This is one of the most important points in providing competition beating superior service. This action can lead to positive recommendations towards you and your company.</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>6. Know your limits!</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">Customers, Tradesman and all people in general have limitations to their knowledge and ability. It is for this reasons you must know when you have hit your limit and you must either get external help or make clear to all people concerned that something is not within your current capability. Taking on jobs that fall too far outside your limits can destroy your company and reputation, also not to mention, money.</span></p>
<p><span style="font-size: 16px; color: #808080; font-family: verdana, geneva;"><strong>7. Professional behaviour.</strong></span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">Customers and Tradesman will have their own personal circumstances that may impact jobs. However as a professional it is your duty to minimise personal issues impacting jobs and also to understand that whilst carrying out jobs customers may have issues going on. It is your professional duty to not to interfere or get involved unless it is a life or death situation. </span></p>
<p><span style="color: #999999; font-size: 14px; font-family: verdana, geneva;">There are rules to these exceptions but only experience will tell you when. Especially in self employed and small businesses there are times that the personal touch is what makes the connection more personal for the customer and this can be a good thing. Generally customers have domestic problems and so do Tradesman, this is a fact of life.</span></p>
<p><span style="font-family: verdana, geneva;">&nbsp;</span></p>				<div>&nbsp;</div><div>&nbsp;</div>
			</div>
		</div>
	</div>