<link rel="stylesheet" href="./css/blog.css">
<div class="hidden-phone">
			<div class="bg-gray">
				<div class="container">
					<div class="height22"></div>
					<div id="services"></div>
				</div>
			</div>
		</div>

		<div class="main-heading2">
			<h2>Blog</h2>
		</div>

		<div class="container">
			<div class="hidden-phone">
				<div class="bg">
					<div>&nbsp;</div><div>&nbsp;</div>

					<div class="row">
						<div class="col-md-9 ">
							<article id="post-109" class="post-109 post type-post status-publish format-standard hentry category-heating-controls row paddall1 article blog-bg" >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/heating-controls/a-rated-thermostatic-radiator-valves-trvs/" rel="bookmark" title="Permanent Link to &#8216;A rated&#8217; Thermostatic Radiator Valves (TRVs)">&#8216;A rated&#8217; Thermostatic Radiator Valves (TRVs)</a>
											</h3>
										</div>

										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 28, 2014 - 11:04 am	</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								
								<div class="entry-content">
									<p>&nbsp; Current legislation requires several parts of heating systems to be minimum A rated ie Boilers, Pumps. Eventually entire systems will be energy A rated. Thermostatic radiator valve(TRV) manufacturers are currently displaying efficiency labels for TRVs. This label is voluntary at this moment in time, however in due course will become mandatory like the other [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->

							</article><!-- #post -->

							<article id="post-107" class="post-107 post type-post status-publish format-standard hentry category-water-treatment row paddall1 article">

								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">		
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/water-treatment/central-heating-system-magnetic-dirt-filters/" rel="bookmark" title="Permanent Link to Central Heating System Magnetic &amp; Dirt Filters">Central Heating System Magnetic &#038; Dirt Filters</a>
											</h3>
										</div>

										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 22, 2014 - 3:10 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								<div class="entry-content">
									<p>Magnetic and Dirt Filter protect the boiler and system components from  magnetite and sludge that it produced as a byproduct of system corrosion. Other particles can also be circulating around in the system depending on how clean it is, the inhibitor levels in the system and installation problems. There are two types of filter. One [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-157" class="post-157 post type-post status-publish format-standard hentry category-water-treatment row paddall1 article blog-bg" >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/water-treatment/prevention-is-better-than-a-cure/" rel="bookmark" title="Permanent Link to Prevention is better than a Cure">Prevention is better than a Cure</a>
											</h3>
										</div>
										
										<div class="col-md-1"></div>
									</div>
									
									<div class="row">
										<div class="col-md-12">February 22, 2014 - 2:45 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								
								<div class="entry-content">
									<p>Commonly in the medical profession they say &#8216;prevention is better than a cure&#8217;, well this saying applies across many areas of life including plumbing and heating systems.  So making sure your system is clear and protected in the first place, is the most important way of preventing premature failure of components. During yearly maintenance, your [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
								
							</article><!-- #post -->

							<article id="post-140" class="post-140 post type-post status-publish format-standard hentry category-energy row paddall1 article">
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/energy/energy-providers-gas-and-electricity/" rel="bookmark" title="Permanent Link to Energy Providers &#8211; Gas and Electricity">Energy Providers &#8211; Gas and Electricity	</a>
											</h3>
										</div>
										
										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 22, 2014 - 1:11 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								<div class="entry-content">
									<p>Are you looking for the best energy provider to switch to? Well in this post we cover the best sites to get the best energy provider for your needs and other methods to reduce your energy costs. After all, your appliance can be running near it&#8217;s maximum efficiency however you can still be paying more [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-88" class="post-88 post type-post status-publish format-standard hentry category-pumps-and-circulators row paddall1 article blog-bg" >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/pumps-and-circulators/energy-a-rated-pumps/" rel="bookmark" title="Permanent Link to Energy &#8216;A rated&#8217; pumps">Energy &#8216;A rated&#8217; pumps</a>
											</h3>
										</div>
										<div class="col-md-1"></div>
									</div>
									<div class="row">
										<div class="col-md-12">February 21, 2014 - 10:10 am</div>
									</div>
								</header><!-- .entry-header -->
								<div>&nbsp;</div>
								<div class="entry-content">
									<p>&nbsp; It has been an EU requirement from 1st January 2013 that all central heating pumps sold, be energy &#8216;A rated&#8217;. It is believed older in-efficient pumps / circulators are responsible for upto 20% of electric energy bills in certain households. These new &#8216;A rated&#8217; [&hellip;]</p>
								</div><!-- .entry-content -->
								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-77" class="post-77 post type-post status-publish format-standard hentry category-spare-parts row paddall1 article " >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/spare-parts/reconditioned-spare-parts/" rel="bookmark" title="Permanent Link to Reconditioned Spare Parts">Reconditioned Spare Parts</a>
											</h3>
										</div>
										
										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 18, 2014 - 4:59 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								<div class="entry-content">
									<p>Boilers are mechanical appliances and will go wrong time to time. Those unfortunate to have to pay repair costs for out of warranty boilers know that the costs can easily end up in the hundreds of pounds including labour and parts. Many owners don&#8217;t care one way or another just as long as their boiler [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-57" class="post-57 post type-post status-publish format-standard hentry category-water-treatment row paddall1 article blog-bg" >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/water-treatment/power-flushing-of-wet-central-heating-systems/" rel="bookmark" title="Permanent Link to Power Flushing of Wet Central Heating Systems">Power Flushing of Wet Central Heating Systems</a>
											</h3>
										</div>
										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 15, 2014 - 11:59 am</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								<div class="entry-content">
									<p>Power flushing is the process of using a high flow low pressure power flush machine with chemicals to remove debris,rust, contaminants etc from central heating systems. This form of flushing does not cause damage to your system when carried out properly, however problems may  arise due to pre-existing problems that exist within the system. The benefits [&hellip;]</p>
								</div><!-- .entry-content -->
								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-36" class="post-36 post type-post status-publish format-standard hentry category-heating-controls row paddall1 article">
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/heating-controls/smart-phone-and-internet-controlled-wifi-thermostats/" rel="bookmark" title="Permanent Link to Smart Phone and Internet Controlled Wifi Thermostats">Smart Phone and Internet Controlled Wifi Thermostats</a>
											</h3>
										</div>
										<div class="col-md-1"></div>
									</div>
									<div class="row">
										<div class="col-md-12">February 13, 2014 - 7:16 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								<div class="entry-content">
									<p>Since the iPhone and Android smartphones have grown in popularity with consumers, so have many services and products associated with them. Smart phone controlled thermostats have started to gain popularity, with many of the big brand heating controls manufacturers having brought out kits recently. The Nest Thermostat has also added to the popularity of these [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-12" class="post-12 post type-post status-publish format-standard hentry category-payments row paddall1 article blog-bg">
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/payments/mobile-card-payments/" rel="bookmark" title="Permanent Link to Mobile Card Payments">Mobile Card Payments</a>
											</h3>
										</div>

										<div class="col-md-1"></div>
									</div>

									<div class="row">
										<div class="col-md-12">February 11, 2014 - 12:52 pm</div>
									</div>
								</header><!-- .entry-header -->

								<div>&nbsp;</div>
								
								<div class="entry-content">
									<p>There are traditional merchant account linked card terminals and also now there are smartphone linked card terminals with no monthly charges. See below for more information. For the heating engineer of today, there is literally no excuse to not carry a card terminal as the costs and complexity have come down enormously.  Following are three [&hellip;]</p>
								</div><!-- .entry-content -->

								<footer class="entry-meta"></footer><!-- .entry-meta -->
							</article><!-- #post -->

							<article id="post-6" class="post-6 post type-post status-publish format-standard hentry category-intro row paddall1 article " >
								<header class="entry-header">
									<div class="row">
										<div class="col-md-11">
											<h3 class="entry-title margintop0">
												<a href="https://myboiler.com/blog/intro/welcome-to-myboiler/" rel="bookmark" title="Permanent Link to Welcome to Myboiler">Welcome to Myboiler</a>
											</h3>
										</div>
										
										<div class="col-md-1"></div>
									</div>

							<div class="row">
								<div class="col-md-12">February 5, 2014 - 11:34 am</div>
							</div>
						</header><!-- .entry-header -->

						<div>&nbsp;</div>
						
						<div class="entry-content">
							<p>Dear Visitor, Thank You for taking your time to visit our site. In this blog we will be sharing news, comments and tips on anything to do with your home heating systems, tradesman and latest technological developments. The boiler or furnace as is know in the US, may not be on top of people minds [&hellip;]</p>
						</div><!-- .entry-content -->

						<footer class="entry-meta"></footer><!-- .entry-meta -->

					</article><!-- #post -->

					<div class="row">
						<div class="col-md-12 ">
							<div class="pull-right"></div>
						</div>
					</div>
				</div>
				
				<div>&nbsp;</div>

				<div class="col-md-3">
					<div class="widget-area">
						<ul class="listing1">
							<li id="categories">Categories:						
								<ul>
									<li class="cat-item cat-item-7">
										<a href="https://myboiler.com/blog/category/intro/" title="View all posts filed under An Intro">An Intro</a>
									</li>
									<li class="cat-item cat-item-5">
										<a href="https://myboiler.com/blog/category/energy/" title="View all posts filed under Energy">Energy</a>
									</li>
									<li class="cat-item cat-item-9">
										<a href="https://myboiler.com/blog/category/heating-controls/" title="Heating Contols">Heating Controls</a>
									</li>
									<li class="cat-item cat-item-8">
										<a href="https://myboiler.com/blog/category/payments/" title="Payments and various technologies available to get paid easily.">Payments</a>
									</li>
									<li class="cat-item cat-item-12">
										<a href="https://myboiler.com/blog/category/pumps-and-circulators/" title="View all posts filed under Pumps and Circulators">Pumps and Circulators</a>
									</li>
									<li class="cat-item cat-item-11">
										<a href="https://myboiler.com/blog/category/spare-parts/" title="View all posts filed under Spare Parts">Spare Parts</a>
									</li>
									<li class="cat-item cat-item-10">
										<a href="https://myboiler.com/blog/category/water-treatment/" title="View all posts filed under Water Treatment">Water Treatment</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- .widget-area -->
				</div>
			</div>
		</div>
	</div>
</div>

<div>&nbsp;</div><div>&nbsp;</div>
