<script type="text/javascript" src="./js/angular.min.js"></script>
<link rel="stylesheet" href="./css/blog.css">
		<div class="hidden-phone">
			<div class="bg-gray">
				<div class="container">
					<div class="height22"></div>
					<div class="height82" id="services"></div>
				</div>
			</div>
		</div>

		<div class="main-heading2">
			<h2>Blog</h2>
		</div>
		<div class="container">
			<div class="hidden-phone">
				<div class="bg">
				<div>&nbsp;</div>
				<div>&nbsp;</div>
					<div class="row">
						<div class="col-md-9 ">
							<article id="post-109" class="post-109 post type-post status-publish format-standard hentry category-heating-controls row paddall1 article blog-bg" >
								<header class="entry-header">
									<div class="row"></div>
								</header>
							</article>
						</div>
						
						<div class="col-md-3">
							<div class="widget-area">
								<ul class="listing1">
									<li id="categories">
										Categories:
										<ul class="showCategory"></ul>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		