
		<div class="hidden-phone">
			<div class="bg-gray">
				<div class="container">
					<div class="height22"></div>
					<div id="services"></div>
				</div>
			</div>
		</div>

		<div class="main-heading2">
			<h2>Contact Us</h2>
		</div>

		<div class="container" ng-controller="consumerContactController" ng-init="captchaCode()">
			<div class="hidden-phone">
				<div class="bg">
					<div>&nbsp;</div>
					<div class="col-md-12"></div>

					<div class="col-md-12">
						<div class="row">
							<div class="innerEnginer">
								<!-- Content comes here -->
							</div>
						</div>
					</div>

					<form role="form" name="consumercontact" method="post" action="" id="contact" ng-submit="saveContact()"> 
					<!-- onsubmit="javascript:validateCaptcha();">-->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div>&nbsp;</div>
									<div class="row">
										<div class="col-md-2 col-xs-12 col-sm-12">
											<div class="form-group">
												<label for="title">Title:</label>
												<select name="title" id="title" class="form-group form-control rounded-border0" ng-model="contact.usrsalutation" tabindex="">
													<option value="Mr." selected>Mr</option>
													<option value="Mrs.">Mrs</option>
													<option value="Miss.">Miss</option>
													<option value="Ms.">Ms</option>
													<option value="Dr.">Dr</option>
												</select>
											</div>
										</div>
										<div class="col-md-5 col-xs-12 col-sm-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.first_name.$error]">
												<label for="first_name">First Name:*</label>
												<input type="text" name="first_name" ng-model="contact.first_name" placeholder="First name" id="first_name" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && consumercontact.first_name.$error.required}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.first_name.$error.required">Please enter a first name</span>
											</div>
										</div>
										<div class="col-md-5 col-xs-12 col-sm-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.last_name.$error]">
												<label for="last_name">Last Name:*</label>
												<input type="text" name="last_name" ng-model="contact.last_name" placeholder="Last name" id="last_name" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && consumercontact.last_name.$error.required}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.last_name.$error.required">Please enter a last name</span>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.email.$error]">
												<label for="email">Email:*</label>
												<input type="text" name="email" ng-model="contact.email" ng-pattern="EMAIL_REGEXP" id="email" placeholder="Email" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && (consumercontact.email.$error.required || consumercontact.email.$error.pattern)}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.email.$error.required">Please enter an email address</span>
												<span class="error" ng-show="contactsubmit && consumercontact.email.$error.pattern">Please enter a valid email address</span>
											</div>
										</div>
									</div>

									<div class="border-bottom-gray2">&nbsp;</div>
									<div>&nbsp;</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="subject">Subject:</label>
												<input type="text" name="subject" id="subject" ng-model="contact.subject" placeholder="Subject" class="form-control rounded-border0">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.comment.$error]">
												<label for="house_number">Comment:*</label>
												<textarea rows="3" name="comment" ng-model="contact.comment" id="comment" placeholder="Comment" class="form-control rounded-border0" required></textarea>
												<span class="error" ng-show="contactsubmit && consumercontact.comment.$error.required">Please enter a comment</span>
												<span class="error" ng-show="contactsubmit && consumercontact.comment.$error.pattern">Comment should be descriptive</span>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="description">Prove that you are human:*</label><br>
												<div ng-model="generatedCaptcha" class="noSelect" ng-mousedown="noSelection();">{{generatedCaptcha}}</div>
												<br>
												Enter the above code into below textbox <br>
												<input class="form-control" id="captcha" name="captcha" type="text" ng-model="contact.captcha" required/>
												<span ng-show="contactsubmit && (consumercontact.captcha.$error.required || generatedCaptcha!=contact.captcha)" class="error">Please enter correct captcha code</span>
												
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="border-bottom-gray2">&nbsp;</div>

							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-12 col-xs-12 col-sm-12">

										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-12 col-xs-12 col-sm-12">
											<button class="btn btn-primary width180" ng-click="contactsubmit=true" type="submit">Submit<i class="icon-next"> &nbsp;&nbsp; <img alt="" src="./img/right-arrow.png"></i></button>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div>&nbsp;</div>
					</form>
					<!----  Find an engineer End  ---->
				</div>
			</div>
		</div>


