	<div id="manuals"> <!-- ng-controller="myBoilerCtrl" -->
		<div class="banner consumer_class">
			<div class="media">
				<img class="media-object" src="./img/nest1280px.png" /
				 >
			</div>
		</div>
		 
		<!-- Manuals  start --->
		
		<div class="container" id="links">
			<h2 class="text-center space00"></h2>
			<div class="row">
				<div class="col-md-2">
					<!-- /.1st modal- start --> <a data-toggle="modal" href="https://myboiler.com/v2/#myModal" sl-processed="1"> </a>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="./img/close.png" alt=""></button>
									<h4 class="heading text-center">SIGN IN</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-1"></div>
										<div class="col-md-11">
											<div class="text-center">Welcome back consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut consectetuer.</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Email*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="email" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Password*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="password" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="row mrgntp18">
										<div class="col-md-2"></div>
										<div class="col-md-2 col-xs-1 col-sm-3 align-right">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-6 text-left">
											<div class="font-size12">Fields marked with an asterisk (*) are required.</div>
										</div>
										<div class="col-md-4"></div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-6">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-6">
											<div class="pull-left margn-left40">
												<button class="btn search" type="button">
													<div> Search  &nbsp;<img src="img/right-arrow.png"> </div>
												</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-6">
											<div class="height29"></div>
											Not a member of myBoiler yet? <a class="text-underline" href="https://myboiler.com/v2/#" sl-processed="1">register here</a>
										</div>
									</div>
									<div class="height58"></div>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.1st modal -end -->
					<!-- /.2nd modal- start --> <a data-toggle="modal" href="https://myboiler.com/v2/#myModal1" sl-processed="1"> </a>
					<!-- Modal -->
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="./img/close.png" alt=""></button>
									<h4 class="heading text-center">REGISTER</h4>
								</div>
								<div class="modal-body text-center">
									<div class="row">
										<div class="col-md-1"></div>
										<div class="col-md-11">
											<p>Join myBoiler and get job alerts, all the latest tips and
												access to all our manuals euismod ut consectetuer.
											</p>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">First name*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="email" placeholder="" id="" class="input-bg2">
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Surname*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="email" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Email*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="email" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Website</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="email" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Telephone number</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5">Password*</p>
										</div>
										<div class="col-md-8 text-left heading3">
											<div class="pull-left">
												<input type="password" placeholder="" id="" class="input-bg2">
											</div>
										</div>
									</div>
									<div class="row mrgntp18">
										<div class="col-md-2"></div>
										<div class="col-md-2 col-xs-1 col-sm-3 align-right">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-6 text-left">
											<div class="font-size12">Fields marked with an asterisk (*) are required.</div>
										</div>
										<div class="col-md-4"></div>
									</div>
									<div class="clearfix">&nbsp;</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-8">
											<div class="">
												<button type="button" class="btn search">
													<div> Search  &nbsp;<img src="img/right-arrow.png"> </div>
												</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 align-right">
											<p class="font-size18 paddtp5"></p>
										</div>
										<div class="col-md-6">
											<div class="height29"></div>
											Already a member of myBoiler? <a class="text-underline" href="https://myboiler.com/v2/#" sl-processed="1">sign in here</a>
										</div>
									</div>
									<div class="height58"></div>
								</div>
								<div class="modal ">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.2nd modal-end -->
				</div>
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-12 algn-center"><img src="./img/manuals.png" alt=""></div>
						<div class="col-md-12 algn-center">
							<h3 class="heading">MANUALS</h3>
						</div>
						<div class="col-md-12 algn-center">
							<div class="para">
								<p>User Manuals, Installation Manuals,Other Literature, etc</p>
							</div>
						</div>
						<div class="col-md-12 algn-center text-underline">
							<a href="https://myboiler.com/v2/manuals/index.php?ut=consumer&d=Boilers" sl-processed="1">
								See our manuals
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-1"> </div>

				<div class="col-md-2">
					<div class="row">
						<div class="col-md-12 algn-center"><img src="./img/services.png" alt=""></div>
						<div class="col-md-12 algn-center">
							<h3 class="heading">SERVICES</h3>
						</div>
						<div class="col-md-12 algn-center">
							<div class="para">
								<p>Find related Services available for you to make your life easier</p>
							</div>
						</div>
						<div class="col-md-12 algn-center text-underline">
							<a href="#/consumer-services" sl-processed="1">See available services</a>
						</div>
					</div>
				</div>

				<div class="col-md-1"> </div>

				<div class="col-md-2">
					<div class="row">
						<div class="col-md-12 algn-center"><img src="./img/engineers.png" alt=""></div>
						<div class="col-md-12 algn-center">
							<h3 class="heading">ENGINEERS</h3>
						</div>
						<div class="col-md-12 algn-center">
							<div class="para">
								<p>Find Engineers for your boiler and heating systems</p>
							</div>
						</div>
						<div class="col-md-12 algn-center text-underline">
							<a href="#/consumer-engineer-search" sl-processed="1">Find an Engineer</a>
						</div>
					</div>
				</div>

				<div class="col-md-1"> </div>
			</div>
		</div>
		<div class="height100"></div>
	</div>

	<script type="text/javascript">
		if (window.location.hash && window.location.hash == '#_=_') {
			window.location.hash = '';
		}
	</script>