<link href="./css/nest-global-1e199f5e.css" media="screen" rel="stylesheet" type="text/css" />
<link href="./css/nest-thermostat-b057746d.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><link href="//d2gpw04v015qcw.cloudfront.net/styles/thermostat-oldie-f7ff4e85.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<link href="./css/nest-print-c4aa449a.css" media="print" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" id="modernizr"></script>


<div class="content wrapper main-wrapper">
      
  <section class="hero">
    <div class="moving-poster nl-gallery ready" data-pagination="false" data-auto="desktop" data-speed="8000" data-transition-style="crossfade" data-paused="true">
      <ul class="nl-slides">

        <li class="scene-stairs">
  <span></span>
  <div class="container">
    <h2 class="moving-poster-header">Control it from anywhere.</h2>
    <a class="nl-play-button-legacy" href="#meet-the-nest-learning-thermostat" data-floodlight-cat="nestc823">
      <span class="circle"><span class="triangle"></span></span>Take a tour with&nbsp;Nest
    </a>
  </div>
</li>
        <li class="scene-meal">
  <span></span>
  <div class="container">
    <h2 class="moving-poster-header">Turns itself down when you’re away.</h2>
    <a class="nl-play-button-legacy" href="#meet-the-nest-learning-thermostat" data-floodlight-cat="nestc823">
      <span class="circle"><span class="triangle"></span></span>Take a tour with&nbsp;Nest
    </a>
  </div>
</li>
        <li class="scene-kitchen">
  <span></span>
  <div class="container">
    <h2 class="moving-poster-header">Programs itself so you don’t have to.</h2>
    <a class="nl-play-button-legacy" href="#meet-the-nest-learning-thermostat" data-floodlight-cat="nestc823">
      <span class="circle"><span class="triangle"></span></span>Take a tour with&nbsp;Nest
    </a>
  </div>
</li>
        <li class="scene-living-room">
  <span></span>
  <div class="container">
    <h2 class="moving-poster-header">Manages half your home’s energy.</h2>
    <a class="nl-play-button-legacy" href="#meet-the-nest-learning-thermostat" data-floodlight-cat="nestc823">
      <span class="circle"><span class="triangle"></span></span>Take a tour with&nbsp;Nest
    </a>
  </div>
</li>

        

        <li class="scene-nook current">
  <span></span>
  <div class="container">
    <h2 class="moving-poster-header">Helps you save energy.</h2>
    <a class="nl-play-button-legacy" href="#meet-the-nest-learning-thermostat" data-floodlight-cat="nestc823">
      <span class="circle"><span class="triangle"></span></span>Take a tour with&nbsp;Nest
    </a>
  </div>
</li>

      </ul>
    </div>
  </section>

  <div class="nav fixed">
    <div class="bar">
      <ul class="nav container">
        <li class="living-with-nest">
          <a id="top-nav-living-with-nest" href="//nest.com/uk/thermostat/life-with-nest-thermostat/#three-sixty-five">Life with Nest Thermostat</a>
        </li>
        
        
        <li class="why-we-made-it">
          <a id="top-nav-why-we-made-it" href="//nest.com/uk/thermostat/why-we-made-it/#average-energy-bill">Why we made it</a>
        </li>
        
        <li class="nest-inside-and-out">
          <a id="top-nav-nest-inside-and-out" href="//nest.com/uk/thermostat/inside-and-out/#explore-your-nest">Inside &amp; out</a>
        </li>
        <li class="installation">
          <a id="top-nav-installation" href="//nest.com/uk/thermostat/installation/#weve-got-you-covered">Installation</a>
        </li>
        
        
        <li class="buy-now-button">
          <a id="top-nav-buy-now" href="https://store.nest.com/uk/product/thermostat/" class="button chevron right" data-floodlight-cat="nestc424">Buy now&nbsp;<b>&gt;</b>
          <span></span>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
  <div id="animated-orb" class="day-orb transitionable" style="-webkit-transform: translateZ(0px); top: 6961.5px; opacity: 1; visibility: visible;">
  <div class="label">Day</div>
  <div class="day-orb-digit">30</div>
  <div class="day-orb-anim" style="text-indent: 30px;"></div>
</div>

<section id="three-sixty-five">
  <div class="container">
    <h1 class="product-large-header">Your first month with&nbsp;Nest.</h1>

    <div class="text-block">
      <h2 class="large-header">Rethink your heating system.</h2>
      <p>Heating your home shouldn’t be guesswork. The Nest Learning Thermostat gives you precise control of the temperature, creates a personalised schedule for your home and eliminates the need for a programmer.</p><p>It gives you the tools you need to save energy. Simply.</p>
      
      <a class="chevron right" href="#in-your-home">See how it can change your&nbsp;home&nbsp;<b>&gt;</b></a>
      

    </div>
  </div>
</section>
<section id="day-1" class="new day" data-day="1">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">1</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-block">
        <h1 class="large-header blue">A thermostat and programmer in&nbsp;one.</h1>
        <p>The Nest Thermostat replaces your programmer so you can control heating from one place. Instead of turning off the boiler for long periods, you’ll add very low temperatures to your schedule. That will save energy while keeping your family—and your pipes—safe in extreme weather.</p>

        
        <a class="chevron right" href="//support.nest.com/uk/article/Does-the-Nest-Thermostat-replace-my-programmer-thermostat-or-frostat">Learn how the Nest Thermostat replaces your heating programmer&nbsp;<b>&gt;</b></a>
        
        <figure class="device"></figure>
        <blockquote class="pullquote">One schedule, one control, simple to set&nbsp;up.</blockquote>
      </div>
    </div>
  </div>
</section>

<section id="day-2" class="teach-nest-to-save day animated" data-day="2">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">2</div>
    <div class="day-orb-anim"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="text-block">
        <div>
          <h2 class="large-header">Teach it well.</h2>
          <p>Turn the heat down when you leave, up when you come home, down at night. Within a week, your Nest Thermostat learns the temperatures you like and creates a personalised schedule for your home.</p><p>Want to edit your schedule? Every day can be different. Whether you set it to 20.5° at 19:00 or 20° at 19:15, the Nest Thermostat will listen and keep on learning.</p>
          
          <a class="right chevron" id="teaching-nest-to-save-energy" href="//support.nest.com/uk/article/How-does-Auto-Schedule-learn">Learn about Auto-Schedule&nbsp;<b>&gt;</b></a>
          
        </div>

        <blockquote class="pullquote top-left">All you need to do is turn it up and down.</blockquote>
      </div>


      
      <figure class="thermostat-demo-video heat" aria-label="Just turn to heat or cool">

        <div class="poster-img"></div>

        


        

        <video id="nest-heating-video" width="650" height="460" preload="auto" style="display: none; background-color: white;">
          <source src="/videos/thermostat/life_with_nest/heating_celsius.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
          <source src="/videos/thermostat/life_with_nest/heating_celsius.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
        </video>

        <div class="controller">
          <div role="img" class="band"></div>
          <button class="blue video cool-button" data-play-video="nest-cooling-video">Turn down</button>
          <button class="red video heat-button" data-play-video="nest-heating-video">Turn up</button>
        </div>
        <div class="fader"></div> 
      </figure>

    </div>
  </div>
</section>


<section id="day-7" class="save-while-youre-away day animated" data-day="7">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">7</div>
    <div class="day-orb-anim"></div>
  </div>

  <div class="container">
    <div class="scene" role="image"></div>
    <div class="text-block">
      <h1 class="large-header">Save while you’re away.</h1>
      <p>Popped out for a pint and forgot to turn off the heat? With Auto­-Away™, the Nest Thermostat automatically turns itself down when you’re gone.</p>

      
      <a class="right chevron" id="what-is-auto-away" href="//support.nest.com/uk/article/What-is-Auto-Away">Learn more about Auto-Away&nbsp;<b>&gt;</b></a>
      

      
      <figure class="device">
        <div role="img"></div>
      </figure>
      
      <blockquote class="pullquote top-right">Forgot to turn down the heat on your way out? Nest does it for you.</blockquote>
    </div>
  </div>

</section>


<section id="day-8" class="no-more-guessing day animated" data-day="8">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">8</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="text-block">
      <figure class="device"></figure>
      <h1 class="large-header">No more guessing.</h1>
      <p>With True Radiant, your thermostat learns how your home heats up, so you don’t have to guess when to turn on the heat. If your schedule says 20° at 7:00, then True Radiant will turn on the heat early so you’ll be perfectly warm when you wake up.</p>
      <a class="chevron right" href="//support.nest.com/uk/article/What-is-True-Radiant">Learn more about True Radiant&nbsp;<b>&gt;</b></a>
    </div>
  </div>
</section>

<section id="day-9" class="on-the-go day animated" data-day="9">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">9</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="text-block">
      <h1 class="large-header">Nest on the go.</h1>
      <p>Once the Nest Thermostat is connected to Wi-Fi, you can use the Nest app to control it from a phone or tablet. Getting in early? Change the temperature before you get home..</p><p>Stuck at work? Log into <a href="http://nest.com/home" title="nest.com/home">nest.com/home</a> to edit your thermostat’s schedule, adjust settings, or check how much heat you used yesterday.</p>

      
      <a class="right chevron" id="meet-the-nest-account-and-nest-mobile-app" href="//support.nest.com/uk/article/Learn-more-about-the-Nest-app">Access Nest from anywhere&nbsp;<b>&gt;</b></a>
      
    </div>

    <aside class="app-demo-video">
      

      <div class="poster-img"></div>
      
      <video id="nest-mobile-video" width="696" height="600" preload="auto" aria-label="Nest mobile app" style="display: block; background-color: white;">'
        <source src="/videos/thermostat/life_with_nest/en/GB/nest_on_the_go_heat.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
        <source src="/videos/thermostat/life_with_nest/en/GB/nest_on_the_go_heat.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
      </video>

      <button class="blue video" data-play-video="nest-mobile-video">See how it works</button>
    </aside>
    <div class="app-buttons">
      
      <a class="app-store-button ios" href="https://itunes.apple.com/gb/app/nest-mobile/id464988855?mt=8&amp;uo=4">Available on the App Store</a>
      <a class="app-store-button android" href="https://play.google.com/store/apps/details?id=com.nestlabs.android">Google Play for Android</a>
      <a class="app-store-button kindle" href="http://www.amazon.co.uk/Nest-Labs-Inc-Mobile/dp/B009HDDK9O">Amazon Appstore for Android</a>
    </div>
  </div>
</section>


<section id="day-10" class="hello-leaf day animated" data-day="10">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">10</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="bg-overlay visible"></div> 
  <div class="container">
    <div class="text-block">
      <h1 class="large-header">Hello, Leaf.</h1>
      <p>The Nest Leaf™ appears when you're saving energy. Changing the temperature just 1° can cut your energy use up to 10%.</p>
      
      <a class="chevron right" id="a-nest-family-story" href="//support.nest.com/uk/article/How-does-the-Nest-Leaf-work">How the Leaf works&nbsp;<b>&gt;</b></a>
      
    </div>
  </div>
</section>


<section id="day-11" class="know-more-save-more day animated" data-day="11">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">11</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-block">
        <h1 class="large-header">Know more, save&nbsp;more.</h1>
        <p>Now you can see exactly when Nest was on in your home. Turn the temperature down from 21° to 20°, then check Energy History the next day. You’ll see how much energy you saved and why.</p>

        
        <a class="right chevron" id="saving-energy-with-energy-history" href="//support.nest.com/uk/article/How-to-read-the-Nest-Energy-History-on-the-Web-and-Mobile-apps">Learn about Energy History&nbsp;<b>&gt;</b></a>
        

      </div>
    </div>
  </div>
</section>


<section id="day-15" class="nest-knows-you day" data-day="15">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">15</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-block">
        <h1 class="large-header">The Nest Thermostat knows&nbsp;you.</h1>
        <p>By now, your thermostat’s schedule is keeping you warm and helping you save energy.</p><p>As your life changes, the Nest Thermostat will keep learning and adjusting its schedule, keeping an eye out for temperature changes you make regularly, but ignoring one­-off adjustments.</p>

        
        <a class="right chevron" id="how-to-your-first-week-with-nest" href="//support.nest.com/uk/article/How-does-Auto-Schedule-learn">How the Nest Thermostat learns your schedule&nbsp;<b>&gt;</b></a>
        

      </div>

      <aside class="tabbed-content time-5">
        <figure>
          <div id="time-1" class="tab" aria-role="tabpanel"></div>
          <div id="time-2" class="tab" aria-role="tabpanel"></div>
          <div id="time-3" class="tab" aria-role="tabpanel"></div>
          <div id="time-4" class="tab" aria-role="tabpanel"></div>
          <div id="time-5" class="tab" aria-role="tabpanel"></div>

          <div class="tabs" aria-role="tablist">
            <button aria-controls="time-1" class="gray" aria-role="tab">7:45</button>
            <button aria-controls="time-2" class="gray" aria-role="tab">8:30</button>
            <button aria-controls="time-3" class="gray" aria-role="tab">18:00</button>
            <button aria-controls="time-4" class="gray" aria-role="tab">20:15</button>
            <button aria-controls="time-5" class="gray" aria-role="tab">21:30</button>
            
            <div class="tab-descriptions">
              <span class="time-1">It was set to a low 17° all night. In the morning, it turns up the&nbsp;heat.</span>
              <span class="time-2">It notices you left the house earlier than usual, so it switches on Auto­-Away to save&nbsp;energy.</span>
              <span class="time-3">You’re coming home from work. Using True Radiant, it’s already warmed up the&nbsp;house.</span>
              <span class="time-4">You adjust the thermostat to 20°.<br>It takes&nbsp;note.</span>
              <span class="time-5">It’s almost bedtime. Your thermostat sets itself to a low, 17°&nbsp;temperature.</span>
            </div>
          </div>
        </figure>
      <div class="nl-gallery-controls"><div class="left"></div><div class="pagination"><div class="current"></div><div></div><div></div><div></div><div></div></div><div class="right"></div></div></aside>
    </div>
  </div>
</section>

<section id="day-30" class="your-first-energy-report day animated" data-day="30">
  <div class="day-orb">
    <div class="label">Day</div>
    <div class="day-orb-digit">30</div>
    <div class="day-orb-anim"></div>
  </div>
  <div class="container">
    <div class="text-block">
      <h1 class="large-header">Your first Energy&nbsp;Report.</h1>
      <p>After about a month with your new thermostat, we’ll email you a Nest Energy Report. You’ll see how your energy use changes month­-to-­month and why you used more or less heat.</p><p>We’ll also give you tips to save energy and show you how people are using the Nest Thermostat across the country. The more you know, the sooner you can find the perfect balance of comfort and energy savings for your home.</p>
      <a class="chevron right" href="//support.nest.com/uk/article/About-the-Nest-Energy-Report">See the Energy Report&nbsp;<b>&gt;</b></a>
    </div>
  </div>
</section>




<section class="bring-it-home thermostat container">

    <div class="hero">
      <span class="product-box thermostat"></span>

      <div class="text">
        <h2 class="product-large-header">Bring yours home.</h2>
        <p>
          Buy the Nest Learning Thermostat today.
        </p>
        <a id="vist-our-store" href="https://store.nest.com/uk/" class="button chevron right" data-floodlight-cat="nestc424">Visit our store&nbsp;<b>&gt;</b></a>
      </div>

    </div>


  <aside id="continue-exploring" class="touts">
    <h5>Continue exploring</h5>

    

    <a id="why-we-made-it-tout" href="//nest.com/uk/thermostat/why-we-made-it/" class="img-hover-link">
      <div class="chevron right">
        Why we made it&nbsp;<b>&gt;</b>
      </div>
      <img alt="Why we made it" width="300" height="87" class="nl-responsive-img" data-src="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/why_we_made_it-59535e97.jpg" data-src-2x="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/why_we_made_it_2x-0525a445.jpg" src="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/why_we_made_it-59535e97.jpg">
    </a>

    

    <a id="inside-and-out-tout" href="//nest.com/uk/thermostat/inside-and-out/" class="img-hover-link">
      <div class="chevron right">
        Inside &amp; out&nbsp;<b>&gt;</b>
      </div>
      <img alt="Inside &amp; out" width="300" height="87" class="nl-responsive-img" data-src="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/inside_and_out-b2b3f12a.jpg" data-src-2x="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/inside_and_out_2x-fa928f4c.jpg" src="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/inside_and_out-b2b3f12a.jpg">
    </a>

    <a id="living-with-nest-tout" href="//nest.com/uk/thermostat/life-with-nest-thermostat/" class="img-hover-link">
      <div class="chevron right">
        Life with Nest Thermostat&nbsp;<b>&gt;</b>
      </div>
      <img alt="Life with Nest Thermostat" width="300" height="87" class="nl-responsive-img" data-src="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/living_with_nest-f5da1a12.jpg" data-src-2x="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/living_with_nest_2x-5532bb30.jpg" src="//d2gpw04v015qcw.cloudfront.net/images/thermostat/global/touts/living_with_nest-f5da1a12.jpg">
    </a>

    <a id="installation-tout" href="//nest.com/uk/thermostat/installation/" class="img-hover-link">
      <div class="chevron right">
        Installation&nbsp;<b>&gt;</b>
      </div>
      <img alt="Installation" width="300" height="87" class="nl-responsive-img" data-src="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/installation-5034b8b4.jpg" data-src-2x="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/installation_2x-a22954c7.jpg" src="//d2gpw04v015qcw.cloudfront.net/images/locale/en-GB/thermostat/global/touts/installation-5034b8b4.jpg">
    </a>

    

  </aside>

</section>


    </div>

<script type="text/javascript" id="">$(document).ready(function(){$("#your-energy-partner-video").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-video-button",eventLabel:"therm-saving-energy: small button"})});$("#your-energy-partner-button").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-video-button",eventLabel:"therm-saving-energy: large button"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#system-match .system-chooser-slider span").bind("click",function(a){a=$(this).text();dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-hslider-option",eventLabel:"therm-inside-out: personalized, "+a})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#how-it-learns a.nl-play-button-legacy").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-video-button",eventLabel:"therm-inside-out: how does nest learn video"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$(".bring-it-home.thermostat #vist-our-store").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-button",eventLabel:"bring-yours-home: visit-our-store"})});$(".bring-it-home.thermostat #saving-energy-tout").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-button",eventLabel:"bring-yours-home: saving-energy"})});$(".bring-it-home.thermostat #inside-and-out-tout").bind("click",
function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-button",eventLabel:"bring-yours-home: inside-and-out"})});$(".bring-it-home.thermostat #installation-tout").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-button",eventLabel:"bring-yours-home: installation"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#how-nest-saves-energy .tabs li").bind("click",function(b){var a;$(this).hasClass("johnny-and-kate")?a="14%":$(this).hasClass("angelina-and-dillon")?a="26%":$(this).hasClass("tina-and-joe")&&(a="22%");dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-savings-percentage",eventLabel:a})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#day-7 button.video").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-video",eventLabel:"therm-day-7-video"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#living-with-nest .cool-button").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-temp-button",eventLabel:"turn-temp-up"})});$("#living-with-nest .heat-button").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-temp-button",eventLabel:"turn-temp-down"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#day-12 .tabs button").bind("click",function(a){a=$(this).text();dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-time-button",eventLabel:a})})});</script>
<div style="display: none; visibility: hidden;"><script>$(document).ready(function(){$(".app-store-button").bind("click",function(b){var a;$(this).hasClass("ios")?a="iOS":$(this).hasClass("android")?a="Android":$(this).hasClass("kindle")&&(a="Amazon");dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-app-download",eventLabel:a})})});</script></div>
<script type="text/javascript" id="">$(document).ready(function(){$(".nav.static a").bind("click",function(){var a,b=$(this).text();$("body").hasClass("thermostat")?a="Thermostat":$("body").hasClass("smoke-alarm")&&(a="Smoke Alarm");dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-sub-nav-link",eventLabel:a+": "+b})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#main-nav a").bind("click",function(){var a=$(this).text(),b=$(this).attr("href");dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-header-nav-link",eventLabel:a+": "+b})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#top-nav-buy-now").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-buy-now",eventLabel:"top-nav-buy-now-button"})});$("#vist-our-store").bind("click",function(a){dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-store-button",eventLabel:"bottom-visit-store-button"})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){$("#footer a").bind("click",function(){var a=$(this).text(),b=$(this).attr("href");dataLayer.push({event:"GAevent",eventCategory:"WWW",eventAction:"clicked-footer-link",eventLabel:a+" - "+b})})});</script>
<script type="text/javascript" id="">$(document).ready(function(){var a;$(".nl-slides li").click(function(){a=$(this).attr("class").split(" ")[0];dataLayer.push({isHomeSlider:"1"});dataLayer.push({slideNumber:a})})});</script>
<div style="display: none; visibility: hidden;"><script src="//platform.twitter.com/oct.js"></script>
<script type="text/javascript">twttr.conversion.trackPid("l4869");</script>
</div>
<script type="text/javascript" id="">(function(c,h,m,t){var n={elements:[],minHeight:0,percentage:!0,testing:!1},k=c(h),f=[];c.scrollDepth=function(d){function l(a,b,e){d.testing?c("#console").html(a+": "+b):"undefined"!==typeof dataLayer?(dataLayer.push({event:"ScrollDistance",eventCategory:"Scroll-Depth",eventAction:a,eventLabel:b,eventValue:1,eventNonInteraction:!0}),2<arguments.length&&dataLayer.push({event:"ScrollTiming",eventCategory:"Scroll-Depth",eventAction:a,eventLabel:b,eventTiming:e})):("undefined"!==typeof ga&&(ga("send",
"event","Scroll-Depth",a,b,1,{nonInteraction:1}),2<arguments.length&&ga("send","timing","Scroll-Depth",a,e,b)),"undefined"!==typeof _gaq&&(_gaq.push(["_trackEvent","Scroll-Depth",a,b,1,!0]),2<arguments.length&&_gaq.push(["_trackTiming","Scroll-Depth",a,e,b,100])))}function p(a,b,e){c.each(a,function(a,g){-1===c.inArray(a,f)&&b>=g&&(l("percentage",a,e),f.push(a))})}function q(a,b,e){c.each(a,function(a,g){-1===c.inArray(g,f)&&c(g).length&&b>=c(g).offset().top&&(l("Elements",g,e),f.push(g))})}function r(a,
b){var e,c,g,d=null,f=0,k=function(){f=new Date;d=null;g=a.apply(e,c)};return function(){var h=new Date;f||(f=h);var l=b-(h-f);e=this;c=arguments;0>=l?(clearTimeout(d),d=null,f=h,g=a.apply(e,c)):d||(d=setTimeout(k,l));return g}}var s=+new Date;d=c.extend({},n,d);c(m).height()<d.minHeight||(l("percentage","Baseline"),k.on("scroll.scrollDepth",r(function(){var a=c(m).height(),b=h.innerHeight?h.innerHeight:k.height(),b=k.scrollTop()+b,a={"25%":parseInt(.25*a,10),"50%":parseInt(.5*a,10),"75%":parseInt(.75*
a,10),"100%":a-1},e=+new Date-s;f.length>=4+d.elements.length?k.off("scroll.scrollDepth"):(d.elements&&q(d.elements,b,e),d.percentage&&p(a,b,e))},500)))}})(jQuery,window,document);jQuery.scrollDepth();</script>
    <script src="//d2gpw04v015qcw.cloudfront.net/js/nest-777406ff.js"></script><script src="//d2gpw04v015qcw.cloudfront.net/js/thermostat-32aa9ef5.js"></script>