<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="careplans"></div>
			</div>
		</div>
		<!-- row -->
	</div>

<div class="main-heading2">
	<h2>Care Plans</h2>
</div>

<div class="container">
	<div class="hidden-phone">
		<div class="bg">
			<div class=" col-xs-12 col-sm-12 col-md-12">
				<div class ="content"></div>


					<div class="intro-content">
							<div class ="title"><h1>Starting from £6.99 a month</h1></div>
							<div class="content"><h3>Boilers and Central heating systems are like many appliances prone to wear and tear and eventually breakdowns. A care plan
				 can mean the difference between costly repairs and peace of mind. Our care plans are as simple as A,B,C.</h3></div>
					</div>

					<!-- Care Plan Comparison Start-->
					<div class="layout-init wrapper">

					  <div class="col-xs-12 col-md-4">
						  <div class="panel panel-default">

						    <header class="panel-heading">
						        <h3 class="">Care Plan A</h3>
						        <h4 class="">From £19.99 per month</h4>
						    </header>

						    <div class="panel-body">
						        <ul class="list-group">
	                        <li class="list-group-item">No excess to pay <span class= "glyphicon glyphicon-ok"></span></li>
	                        <li class="list-group-item">Annual boiler service<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Repairs to your boiler and controls<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Repairs to central heating system, including 7 radiators and pipework<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Parts and labour included •<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Customer helpline 24/7<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Work carried out by Gas Safe registered engineers<span class= "glyphicon glyphicon-ok"></li>
	                        <li class="list-group-item">Unlimited callouts per contract year<span class= "glyphicon glyphicon-ok"></li>
	                	</ul>
						    </div>

				        <footer class="panel-footer">
						    	<p>20% discount for Customers with boilers installed by MyBoiler</p>
						    </footer>

							</div>
						</div>

						<div class="col-xs-12 col-md-4">
							<div class="panel panel-default">
						  	<header class="panel-heading">
						    	<h3 class="">Care Plan B</h3>
						      <h4 class="">From £12.99 per month</h4>
						    </header>

						    <div class="panel-body">
						    	<ul class="list-group">
	                	<li class="list-group-item">No excess to pay <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Annual boiler service <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Repairs to your boiler and controls <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item crossed-item">Repairs to central heating system, including 7 radiators and pipework <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Parts and labour included •<span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Customer helpline 24/7 <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Work carried out by Gas Safe registered engineers <span class= "glyphicon glyphicon-ok"></li>
	                  <li class="list-group-item">Unlimited callouts per contract year <span class= "glyphicon glyphicon-remove"></li>
	      					</ul>
						    </div>

								<footer class="panel-footer">
									<p>20% discount for Customers with boilers installed by MyBoiler</p>
								</footer>
							</div>
						</div>

						<div class="col-xs-12 col-md-4">
							<div class="panel panel-default">
								<header class="panel-heading">
									<h3 class="">Care Plan C</h3>
									<h4 class="">From £7.99 per month</h4>
								</header>

								<div class="panel-body">
									<ul class="list-group">
					        	<li class="list-group-item">No excess to pay <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Annual boiler service <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Repairs to your boiler and controls <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Repairs to central heating system, including 7 radiators and pipework <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Parts and labour included •<span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Customer helpline 24/7 <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Work carried out by Gas Safe registered engineers <span class= "glyphicon glyphicon-ok"></li>
					          <li class="list-group-item">Unlimited callouts per contract year <span class= "glyphicon glyphicon-ok"></li>
								</ul>
										</div>
								<footer class="panel-footer">
									<p>10% discount for Customers with boilers installed by MyBoiler</p>
					  		</footer>
							</div>
				 		</div>
					</div>
				<!-- Care Plan Comparison End-->

				<div>&nbsp;</div><div>&nbsp;</div>
			</div>
		</div>
	</div>
</div>
