		<div class="hidden-phone">
			<div class="bg-gray">
				<div class="container">
					<div class="height22"></div>
					<div id="services"></div>
				</div>
			</div>
		</div>

		<div class="main-heading2">
			<h2>Contact Us</h2>
		</div>

		<div class="container" ng-controller="consumerContactController" ng-init="captchaCode()">
			<div class="hidden-phone">
				<div class="bg">
					<div>&nbsp;</div>
					<div class="col-md-12"></div>

					<div class="col-md-12">
						<div class="row">
							<div class="contactdetails">
								<!-- Content comes here -->
									<div class="col-md-6 col-xs-12 col-sm-12">
										<div>
											<h4>Office Address:</h4>
											<br />
											<p></p>
											<h4>MyBoiler.com</h4>
											<h4>32 South Parade, Mollison Way,<br />
											Edgware, Middlesex,<br />
											HA8 5QL</h4><br />
											<h4>Tel:- 020 8123 4411</h4>
											
											<br /><br />
											<p>Please fill in the form below to send us a message. We will get back to you as soon as possible.</p><br /><br />
										</div>
									</div>

									<div class="col-md-6 col-xs-12 col-sm-12">
										<div>
											<!-- google map container goes here. -->
										</div>
									</div>

								
							</div>
						</div>
					</div>

					<form role="form" name="consumercontact" action="" id="contact" ng-submit="saveContact()"> 
					<!-- onsubmit="javascript:validateCaptcha();">-->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div>&nbsp;</div>
									<div class="row">	
										<div class="col-md-3 col-xs-12 col-sm-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.usrType.$error]">
												<label for="usrType" ng-show="false">Visitor Type:</label>
												<select name="usrType" id="usrType" class="form-group form-control rounded-border0" ng-model="contact.usrType" ng-class="{errborder:contactsubmit && consumercontact.usrType.$error.required}" tabindex="" required>
													<option value="" selected>Select User Type</option>
													<option value="Consumer" >I'm a Consumer</option>
													<option value="Tenant">I'm a Tenant</option>
													<option value="engineer">I'm an Engineer</option>
													<option value="landlord">I'm a Landlord</option>
													<option value="corporation">We're a Corporate Business</option>
												</select>
												<span class="error" ng-show="contactsubmit && consumercontact.usrType.$error.required">Please enter User Type</span>
											</div>
										</div>
									</div>
									
									<div class="border-bottom-gray2">&nbsp;</div>
									<div>&nbsp;</div>

									<div class="row">
										<div class="col-md-2 col-xs-12 col-sm-12">
											<div class="form-group">
												<label for="title" ng-show="false">Title:</label>
												<select name="title" id="title" class="form-group form-control rounded-border0" ng-model="contact.usrsalutation" tabindex="">
													<option value="" selected>Title</option>
													<option value="Mr.">Mr</option>
													<option value="Mrs.">Mrs</option>
													<option value="Miss.">Miss</option>
													<option value="Ms.">Ms</option>
													<option value="Dr.">Dr</option>
												</select>
											</div>
										</div>
										<div class="col-md-5 col-xs-12 col-sm-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.first_name.$error]">
												<label for="first_name" ng-show="false">First Name:*</label>
												<input type="text" name="first_name" ng-model="contact.first_name" placeholder="First name" id="first_name" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && consumercontact.first_name.$error.required}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.first_name.$error.required">Please enter a first name</span>
											</div>
										</div>
										<div class="col-md-5 col-xs-12 col-sm-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.last_name.$error]">
												<label for="last_name" ng-show="false">Last Name:*</label>
												<input type="text" name="last_name" ng-model="contact.last_name" placeholder="Last name" id="last_name" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && consumercontact.last_name.$error.required}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.last_name.$error.required">Please enter a last name</span>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.email.$error]">
												<label for="email" ng-show="false">Email:*</label>
												<input type="text" name="email" ng-model="contact.email" ng-pattern="EMAIL_REGEXP" id="email" placeholder="Email" class="form-control rounded-border0" ng-class="{errborder:contactsubmit && (consumercontact.email.$error.required || consumercontact.email.$error.pattern)}" required>
												<span class="error" ng-show="contactsubmit && consumercontact.email.$error.required">Please enter an email address</span>
												<span class="error" ng-show="contactsubmit && consumercontact.email.$error.pattern">Please enter a valid email address</span>
											</div>
										</div>
									</div>

									<div class="border-bottom-gray2">&nbsp;</div>
									<div>&nbsp;</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="subject" ng-show="false">Subject:</label>
												<input type="text" name="subject" id="subject" ng-model="contact.subject" placeholder="Subject" class="form-control rounded-border0">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group" ng-class="{true:'error'}[contactsubmit && consumercontact.comment.$error]">
												<label for="house_number" ng-show="false">Comment:*</label>
												<textarea rows="3" name="comment" ng-model="contact.comment" id="comment" placeholder="Comment" class="form-control rounded-border0" required></textarea>
												<span class="error" ng-show="contactsubmit && consumercontact.comment.$error.required">Please enter a comment</span>
												<span class="error" ng-show="contactsubmit && consumercontact.comment.$error.pattern">Comment should be descriptive</span>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="description">Prove that you are human:*</label><br>
												<div ng-model="generatedCaptcha" class="noSelect" ng-mousedown="noSelection();">{{generatedCaptcha}}</div>
												<br>
												Enter the above code into below textbox <br>
												<input class="form-control" id="captcha" name="captcha" type="text" ng-model="contact.captcha" required/>
												<span ng-show="contactsubmit && (consumercontact.captcha.$error.required || generatedCaptcha!=contact.captcha)" class="error">Please enter correct captcha code</span>
												
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="border-bottom-gray2">&nbsp;</div>

							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-12 col-xs-12 col-sm-12">

										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-8 col-sm-12">
									<div class="row">
										<div class="col-md-4 col-xs-12 col-sm-4">
											<button class="btn btn-primary width180" ng-click="contactsubmit=true" type="submit">Submit<i class="icon-next"> &nbsp;&nbsp; <img alt="" src="./assets/images/right-arrow.png"></i></button>
										</div>


										<div class="col-md-4 col-xs-12 col-sm-4">
											<button class="btn btn-primary width180" ng-click="reset()" type="reset">Reset<i class="icon-next"> &nbsp;&nbsp; <img alt="" src="./assets/images/right-arrow.png"></i></button>
										</div>
								</div>
								</div>
							</div>

						</div>
						<div>&nbsp;</div>
					</form>
					<!----  Find an engineer End  ---->
				</div>
			</div>
		</div>

