<div id="logo" style="margin-top: 0px;">
	<div class="navbar bg-white" id="myboiler_top"><!-- navbar-fixed-top -->
		<div class="container navbar-container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle padding-right30" type="button" id="normal_button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>					
					</button>
					<div class="pull-left">
						<a href="#/consumer" id="logo" class="navbar-brand paddingleft15" style="height:auto"><img class="img-responsive" src="./assets/images/logo.png"/></a>
					</div>	
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div ng-controller="NavCtrl" id="logo" class="collapse navbar-collapse"> <!--ng-init="displayMenus()" -->
				<ul class="nav navbar-nav pull-left mrgntp10 mrgnbt14">
					<li class="" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu1"><a id="menu1" href="#/consumer-engineer-search">FIND ENGINEER</a></li>

					<li class="" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu3"><a id="menu3" href="#/manuals">MANUALS</a></li><!--href="https://myboiler.com/v2/manuals/index.php?ut=engineer&d=Boilers"-->
					<li class="" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu4"><a id="menu4" href="#/consumer-tips">TOP TIPS</a></li>
					<li class="" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu5"><a id="menu5" href="#/boiler" ng-show="signedIn()">MY BOILER</a></li>
					<li class="" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu5"><a id="menu5" href="http://shop.myboiler.com">SHOP</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right mrgntp10 mrgnbt14">
					<div class="pull-left mrgntp5" id="ebtn">
						<a href="#/engineer">
							<button type="button" class="btn btn-primary-custom">ENGINEER SITE<i class="icon-next">&nbsp; <img src="./assets/images/right-arrow.png" alt=""></i></button><!--ng-click="showMenus(); engclicked=true;"-->
						</a>
					</div>

					<!--
					<div class="pull-left mrgntp5" id="register" ng-hide="signedIn()">
						<a href="#/register" sl-processed="1">
							<button type="button" class="btn search">REGISTER<i class="icon-next">&nbsp; <img src="./img/right-arrow.png" alt=""></i></button>
						</a>
					</div> -->
					<!--
					<div class="pull-left mrgntp5 paddlt7" id="login" ng-hide="signedIn()"><a href="#/login"><button type="button" class="btn search">LOGIN<i class="icon-next">&nbsp; <img src="./img/right-arrow.png" alt=""></i></button></a></div>
					-->
					<div class="pull-left mrgntp5 paddlt7" ng-show="signedIn()"><a href="#/users/{{ currentUser.username }}">
        				{{ currentUser.username }}</a><button class="btn search" ng-click="logout()">Logout</button>
      				</div>
      				<div class="pull-left mrgntp5 paddlt7" data-target=".navbar-collapse" data-toggle="collapse" ng-model="menu6">
      					<a id="menu6" href="#/account" ng-show="signedIn()">
      						<div class="usericon">
      							<img src="./assets/images/usericon.jpg" height="40px" width="40px" ;>
      						</div>
      					</a>
      				</div>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div>
</div>

<div class="nav-bottom" style="display: block;">&nbsp;</div>
