<link rel="stylesheet" href="./styles/blog.css">

<div class="hidden-phone">
			<div class="bg-gray">
				<div class="container">
					<div class="height22"></div>
					<div id="services"></div>
				</div>
			</div>
		</div>

		<div class="main-heading2">
			<h2>Blog</h2>
		</div>

		<div class="container">
			<div class="hidden-phone">
				<div class="bg">
					<div>&nbsp;</div><div>&nbsp;</div>

					<div class="row">
						<div class="col-md-9 ">

							<button><a href="#/blog">Back</a></button>
							<div>	
								<article>
								<h2>title</h2>
  								<div markdown link= "{{postSlug}}.md"></div>
  								</article>
  							</div>

					<div class="row">
						<div class="col-md-12 ">
							<div class="pull-right"></div>
						</div>
					</div>
				</div>
				
				<div>&nbsp;</div>

				<div class="col-md-3">
					<div class="widget-area">
						<ul class="listing1">
							<li id="categories">Categories:						
								<ul class="showCategory">
									<li class="cat-item cat-item-7">
										<a href="https://myboiler.com/blog/category/intro/" title="View all posts filed under An Intro">An Intro</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- .widget-area -->
				</div>
			</div>
		</div>
	</div>
</div>

<div>&nbsp;</div><div>&nbsp;</div>

		