<div class="accreditation clearfix">
	<div class="row text-center" >
		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"><img src="../../assets/images/logos/vaillant-installer.jpg"></div>
		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"><img src="../../assets/images/logos/nest-certified.png"></div>
		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"><img src="../../assets/images/logos/honeywell-logo.jpg"></div>
		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"><img src="../../assets/images/logos/underfloor_heating.png"></div>
	</div>
</div>