<div class="accreditation clearfix">
	<div class="row text-center" >
		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl" 
			ng-init="imgsrc='../../assets/images/logos/vaillant-installer.jpg'" 
			ng-mouseover="imgsrc='../../assets/images/logos/vaillant-installerC.jpg'" 
			ng-mouseout="imgsrc='../../assets/images/logos/vaillant-installer.jpg'">
			<img ng-src="{{imgsrc}}">
		</div>

		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl" 
			ng-init="imgsrc2='../../assets/images/logos/NestCertifiedProfessional.jpg'" 
			ng-mouseover="imgsrc2='../../assets/images/logos/NestCertifiedProfessionalC.jpg'" 
			ng-mouseout="imgsrc2='../../assets/images/logos/NestCertifiedProfessional.jpg'">
			<img src="{{imgsrc2}}">
		</div>


		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"
			ng-init="imgsrc3='../../assets/images/logos/honeywell-logo.jpg'" 
			ng-mouseover="imgsrc3='../../assets/images/logos/honeywell-logoC.jpg'" 
			ng-mouseout="imgsrc3='../../assets/images/logos/honeywell-logo.jpg'">
			<img src="{{imgsrc3}}">
		</div>

		<div class="wow rotateIn col-xs-12 col-sm-3 col-md-3 acl"
			ng-init="imgsrc4='../../assets/images/logos/underfloor_heating.png'" 
			ng-mouseover="imgsrc4='../../assets/images/logos/underfloor_heatingC.png'" 
			ng-mouseout="imgsrc4='../../assets/images/logos/underfloor_heating.png'">
			<img src="{{imgsrc4}}">
		</div>
	</div>
</div>