<div id="footer">
	<div class="sitemap">
		<div class="paddtp34 paddall paddbt34">
		<div class="row">
			<div class="col-md-12">
				<div class="row">

					<div class="col-md-3 col-xs-12 col-sm-12 marginbt10">
						<img class="img-responsive" src="./assets/images/logo-footer.png" alt="logo">
					</div>

					<div class="col-md-3 col-xs-6 col-sm-4">
						<ul class="footer-link">
							<li><a href="#/consumer-engineer-search" sl-processed="1">Request a Pro</a></li>
							<li><a href="#/consumer-services" sl-processed="1">Services</a></li>							<li><a href="https://myboiler.com/v2/manuals/index.php?ut=consumer&d=Boilers" sl-processed="1">Manuals</a></li>
							<li><a href="#/consumer-tips" sl-processed="1">Advice and Top Tips</a></li>
							<li><a href="#/charges" sl-processed="1">Charges</a></li>

							<li ng-model="menu6"><a id="menu6" href="#/consumer-services" sl-processed="1">{{menu6}}</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-xs-6 col-sm-4">
						<ul class="footer-link">
							<li><a href="#/about" sl-processed="1">About</a></li>
							<li><a href="#/consumer-contact" sl-processed="1">Contact</a></li>
							<li><a href="#/cterms" sl-processed="1">Terms & Conditions </a></li>
							<li><a href="#/cprivacy" sl-processed="1">Privacy</a></li>
							<li><a href="#/ccopyright" sl-processed="1">Copyright</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-xs-12 col-sm-4">
						<div class="pull-right">
							<a href="https://www.facebook.com/pages/myboilercom/526628270760588"><img src="./assets/images/facebook.png" alt="facebook"></a>
							<a href="https://twitter.com/myboiler_com"><img src="./assets/images/twitter.png" alt="twitter"></a>
							<a href="http://www.gassaferegister.co.uk/registersearch/checkbusiness.aspx?ep=yEciPNwm2ha3cMtp92eLIz3iTL4jmZGNhQqq7+EfNYsMIhWfyGcW10FAvd2y6HBtpkNzoofqrPGy84YIcciy0XUH75vfBp9edRo74E20XgizYhk6ywwVmwWiFhQxfM+6v2DWfudYd+2rXhbl0DTlkgq563lRNNMVPm5OscPhHqM&returnurl=http%3a%2f%2fwww.gassaferegister.co.uk%2fDefault.aspx"><img src="./assets/images/logos/gassafe.png" alt="Gas Safe Register Logo"></a>
						</div>
					</div>

				</div>

				<div class="clearfix"></div>
				<div> </div>

				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-12 text-left heading3 paddlt pull-right">
						<form action="https://myboiler.us7.list-manage.com/subscribe/post?u=74520e86378a5e9ad9e26240e&id=de886bf698" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" onsubmit="javascript:return email_validate();">
							<div class="row">
								<div class="col-md-7 col-xs-12 col-sm-8 marginbt10">
									<input type="email" placeholder="Enter your email for updates" id="sub_email" name="EMAIL" class="input-bg1">
								</div>
								<div class="col-md-5 col-xs-12 col-sm-4">
									<button class="btn search pull-left" type="submit">
										<div> Subscribe    <img src="./assets/images/right-arrow.png"> </div>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				

			</div>
		</div>
		</div>
	</div>
	<div class="social-legal">
		<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="footer-text">
							<p> MyBoiler.com Ltd, Jetta House, 15-16 Westfield Lane, HA3 9ED | Registered No. 09821837 VAT No. 225 4613 26</p>
							<p>© MyBoiler.com 2016 v3</p>
						</div>
					</div>
				</div>
	</div>
</div>
