
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 8]>
<html class="no-js is-ie lt-ie10 lte-ie10 lt-ie9 lte-ie9 lt-ie8 lte-ie8 nr celsius  pan-eu" lang="en-GB">
<![endif]-->
<!--[if IE 8]>
<html class="no-js is-ie ie8 lt-ie10 lte-ie10 lt-ie9 lte-ie9 lte-ie8 nr celsius  pan-eu" lang="en-GB">
<![endif]-->
<!--[if IE 9]>
<html class="no-js is-ie ie9 lt-ie10 lte-ie10 lte-ie9 no-filters celsius  pan-eu" lang="en-GB">
<![endif]-->
<!--[if !IE]> <!-->
<html class="no-js no-filters celsius  pan-eu" lang="en-GB" ng-app="myBoiler">
<!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<title>Nest Learning Thermostat</title>
    <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<meta name="description" itemprop="description" content="Saving energy is a beautiful thing. The Nest Learning Thermostat programs itself and automatically helps save energy when you’re away. Control it from anywhere using your smartphone, tablet or computer." />
<meta name="creator" content="Nest Labs" />
<meta name="build-id" content="187-ee55987" />
<meta name="locale-root" id="locale-root" content="/uk/" />
<meta name="referrer" content="always" />



<meta content="authenticity_token" name="csrf-param" />
<meta content="OqWMtgsDR87ModPevgV2h4EHW1pXob+xwCstJyTlvJ8=" name="csrf-token" />

<meta property="fb:app_id" content="128769660533433" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://store.nest.com/uk/product/thermostat/" />
<meta property="og:title" content="Nest Learning Thermostat" />
<meta property="og:image" content="https://d24p8oa045rip8.cloudfront.net/assets/social/thermostat_c-9b56bb5db3f06e472d1e4d2eb6b1c385.png" />
<meta property="og:description" content="Saving energy is a beautiful thing. The Nest Learning Thermostat programs itself and automatically helps save energy when you’re away. Control it from anywhere using your smartphone, tablet or computer." />
<meta property="og:site_name" content="Nest Store" />
<meta property="og:locale" content="en-GB" />

<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@nest" />
<meta property="twitter:title" content="twitter:title" />
<meta property="twitter:description" content="Saving energy is a beautiful thing. The Nest Learning Thermostat programs itself and automatically helps save energy when you’re away. Control it from anywhere using your smartphone, tablet or computer." />
<meta property="twitter:image:src" content="https://d24p8oa045rip8.cloudfront.net/assets/social/thermostat_c-9b56bb5db3f06e472d1e4d2eb6b1c385.png" />

<meta itemprop="name" content="Nest Learning Thermostat" />
<meta itemprop="image" content="https://d24p8oa045rip8.cloudfront.net/assets/social/thermostat_c-9b56bb5db3f06e472d1e4d2eb6b1c385.png" />
<meta itemprop="copyrightHolder" content="Nest Labs" />
<meta itemprop="copyrightYear" content="2014" />
<meta itemprop="isFamilyFriendly" content="true" />

<meta property="nlsws-title" content="Nest Learning Thermostat" />
<meta property="nlsws-description" content="Saving energy is a beautiful thing. The Nest Learning Thermostat programs itself and automatically helps save energy when you’re away. Control it from anywhere using your smartphone, tablet or computer." />
<meta property="nlsws-image" content="https://d24p8oa045rip8.cloudfront.net/assets/social/thermostat_c-9b56bb5db3f06e472d1e4d2eb6b1c385.png" />
<meta property="nlsws-popularity" content="" />
<meta property="nlsws-domain" content="store" />


<link rel="shortcut icon" href="https://d24p8oa045rip8.cloudfront.net/assets/global/favicon-ebcd3d8293de04f9a64cc05692bd35e3.ico" />
<link rel="apple-touch-icon" href="https://d24p8oa045rip8.cloudfront.net/assets/global/apple-touch-icon-58a73d507f753f75f94a884e822f1180.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://d24p8oa045rip8.cloudfront.net/assets/global/apple-touch-icon-72x72-0492adc70c8d91a73bcc2526038381a5.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://d24p8oa045rip8.cloudfront.net/assets/global/apple-touch-icon-114x114-98ebe9d8aede356d7c09438682aae888.png" />

<!--[if IE]>
  <meta name="msapplication-TileImage" content="https://d24p8oa045rip8.cloudfront.net/images/global/ms-app-icon.png" />
  <meta name="msapplication-TileColor" content="#00AFD8" />
<![endif]-->

    <!--[if !IE]> <!--> 
<script type="text/javascript">
  (function () {
    if (/*@cc_on!@*/false) {
      var version = document.documentMode,
          className = 'is-ie ie'+ version +' lte-ie'+ version;

      for (var i = version - 1; i > 7; i--) {
        className += 'lt-ie'+ i;
      }
      document.documentElement.className += className;
    }
  })();
</script>
<!--<![endif]-->
<!--[if lt IE 10]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<script>
window.catalog_type = 'default';
</script>
<style type="text/css">

  /* Akkurat */
  @font-face {
    font-family: "Akkurat";
    src: url("/assets/lineto_akkurat_pro/regular-aaa86e876f07c75200372627f696c6e6.woff") format("woff"),
         url("/assets/lineto_akkurat_pro/regular-ddde9701d9e4d77b1321ad684aee3a6a.svg") format("svg"),
         url("/assets/lineto_akkurat_pro/regular-4e1496b3ccf36a0465396ed0ed81f7bc.eot") format("embedded-opentype")
  }
  @font-face {
    font-family: "Akkurat Bold";
    src: url("/assets/lineto_akkurat_pro/bold-03f4b95e8b851a45bee30e8bff65cf71.woff") format("woff"),
         url("/assets/lineto_akkurat_pro/bold-9851cfc3ae59bd3e408b99dc4e42ae6a.svg") format("svg"),
         url("/assets/lineto_akkurat_pro/bold-2375b12532a75784609fa029863e9ce7.eot") format("embedded-opentype")
  }
  @font-face {
    font-family: "Akkurat Italic";
    src: url("/assets/lineto_akkurat_pro/italic-4d679a26332d7879e4ce51f891b41c0f.woff") format("woff"),
         url("/assets/lineto_akkurat_pro/italic-affd4a76ba0e0e42a39598c74049fae7.svg") format("svg"),
         url("/assets/lineto_akkurat_pro/italic-6e6ba17bfe78f28e8d34f8b0b8b52e4f.eot") format("embedded-opentype")
  }
  @font-face {
    font-family: "Akkurat Light";
    src: url("/assets/lineto_akkurat_pro/light-b107316830414a0b3a4f19914d9ff41d.woff") format("woff"),
         url("/assets/lineto_akkurat_pro/light-23c3cb1456c8b547f91b223af2d274fa.svg") format("svg"),
         url("/assets/lineto_akkurat_pro/light-865476472052a075eafed56162f79c3e.eot") format("embedded-opentype")
  }

  /* Nest Sans */
  @font-face {
    font-family: 'nest-sans-marketing';
    src: url("/assets/nest-sans-marketing-02f89ba6e7170a22fb63930cc37e6b4e.svg") format('svg'); /* Legacy iOS */
    src: url("/assets/nest-sans-marketing-fd42c3d6b4d10e45028e2ebcfa82d384.eot"); /* IE9 Compat Modes */
    src: url("/assets/nest-sans-marketing-fd42c3d6b4d10e45028e2ebcfa82d384.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url("/assets/nest-sans-marketing-4a321a248bead44b4b532b3f9cfd70df.woff") format('woff'), /* Modern Browsers */
         url("/assets/nest-sans-marketing-41dc2fefe95d406deca197785cd470aa.ttf")  format('truetype'); /* Safari, Android, iOS */
  }

  /**
    Fuller Sans

    @font 'Fuller Sans'
  */
  @font-face {
    font-family: "Fuller Sans";
    src: url("/assets/fuller_sans_dt/regular-79c5f350ccfc2805f5f821220a4f9641.woff") format('woff'),
         url("/assets/fuller_sans_dt/regular-8877fe8097bc6602185612fdb71150cb.svg") format('svg'),
         url("/assets/fuller_sans_dt/regular-4d1d56ead962d39ecfa0a36b1a10d1a0.eot") format('embedded-opentype');
  }

  /**
    Fuller Sans

    @font 'Fuller Sans Bold'
  */
  @font-face {
    font-family: "Fuller Sans Bold";
    src: url("/assets/fuller_sans_dt/bold-82297bc674e7a5d88c5518e7da9ccb1a.woff") format('woff'),
         url("/assets/fuller_sans_dt/bold-d9649ecf0f30397c5300da4153c55878.svg") format('svg'),
         url("/assets/fuller_sans_dt/bold-924289d7b0ba3afe4f68a5c9c8b40c91.eot") format('embedded-opentype');
  }

  /**
    Fuller Sans

    @font 'Fuller Sans Italic'
  */
  @font-face {
    font-family: "Fuller Sans Italic";
    src: url("/assets/fuller_sans_dt/italic-c2eb46594cce13004a0f687629813e1d.woff") format('woff'),
         url("/assets/fuller_sans_dt/italic-c40674656d391d2780b7b94749a624b5.eot") format('embedded-opentype');
  }

  /**
    Fuller Sans

    @font 'Fuller Sans Light'
  */
  @font-face {
    font-family: "Fuller Sans Light";
    src: url("/assets/fuller_sans_dt/light-fcad11ba64b311abe652a5e947e4c930.woff") format('woff'),
         url("/assets/fuller_sans_dt/light-dbef87e859e9caf58d2445a6870582b1.svg") format('svg'),
         url("/assets/fuller_sans_dt/light-72611fc2f76a4f8195f82536b4546586.eot") format('embedded-opentype');
  }

  /**
    Fuller Sans

    @font 'Fuller Sans ExtraLight'
  */
  @font-face {
    font-family: "Fuller Sans ExtraLight";
    src: url("/assets/fuller_sans_dt/extra_light-1fa35a387c357dc910af8f6f43319238.woff") format('woff'),
         url("/assets/fuller_sans_dt/extra_light-683ac64315dcea0860ec2efee9f1be56.eot") format('embedded-opentype');
  }

</style>
<link href="https://d24p8oa045rip8.cloudfront.net/assets/application-b1559130be7775feb3dd5a64f4939152.css" media="all" rel="stylesheet" />
<link href="https://d24p8oa045rip8.cloudfront.net/assets/products-605c1fdbb64f722cbd2353192de27b3f.css" media="screen" rel="stylesheet" />

<script id="modernizr" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="https://d24p8oa045rip8.cloudfront.net/assets/google_analytics-6f9b4a4d0a392f2ab4a76c231818fa68.js"></script>
<script type="text/javascript">
  var SITE_URLS = window.SITE_URLS = {};

      SITE_URLS['www_url'] = "//nest.com/uk";
      SITE_URLS['js.compatibility_url'] = "//widgets.nest.com/%@1/compatibility";
      SITE_URLS['js.in_your_home_url'] = "//widgets.nest.com/%@1/in-your-home";
      SITE_URLS['js.certified_finder_url'] = "//pro.nest.com/%@1finder/installers/search";
      SITE_URLS['js.five_hundred_error'] = "/500?embedded";
      SITE_URLS['widgets.utility'] = "//widgets.nest.com/utility";
      SITE_URLS['js.login_popup'] = "https://store.nest.com/uk/sso/login/?style=popup";
      SITE_URLS['widgets.troubleshooting'] = "//widgets.nest.com/troubleshooting";
      SITE_URLS['widgets.troubleshooting_ca_fr'] = "//widgets.nest.com/ca/fr/troubleshooting";
      SITE_URLS['store.rebates'] = "https://store.nest.com/uk/rebates/";
      SITE_URLS['js.compatibility_url'] = "//widgets.nest.com/%@1/compatibility";
      SITE_URLS['js.calculator_url'] = "//widgets.nest.com/%@1/calculator/widget";
      SITE_URLS['js.inline_calculator_url'] = "//widgets.nest.com/%@1/calculator/saving-energy";
      SITE_URLS['js.check_calculator_url'] = "/check-savings-calculator";
      SITE_URLS['thermostat.save_energy'] = "//nest.com/uk/thermostat/saving-energy/";
      SITE_URLS['support.offline'] = "//support.nest.com/uk/article/Troubleshooting-Offline-status-in-the-Nest-apps";
      SITE_URLS['support.main'] = "//support.nest.com/uk/";
      SITE_URLS['support.co-sensor-fail'] = "//support.nest.com/uk/article/When-do-I-need-to-replace-my-Nest-Protect";
      SITE_URLS['support.protect-expired'] = "//support.nest.com/uk/article/When-do-I-need-to-replace-my-Nest-Protect";
      SITE_URLS['support.led-fail'] = "//support.nest.com/uk/article/When-do-I-need-to-replace-my-Nest-Protect";
      SITE_URLS['support.battery-low'] = "//support.nest.com/uk/article/How-do-I-check-the-level-of-my-Nest-Protect-battery";
      SITE_URLS['support.backup-battery-critical'] = "//support.nest.com/uk/article/How-do-I-check-the-level-of-my-Nest-Protect-battery";
      SITE_URLS['support.battery-critical'] = "//support.nest.com/uk/article/How-do-I-check-the-level-of-my-Nest-Protect-battery";
      SITE_URLS['support.smoke-sensor-fail'] = "//support.nest.com/uk/article/Nest-Protect-sounds-false-smoke-alarms-or-my-Nest-app-says-The-smoke-sensor-has-failed";
      SITE_URLS['support.backup-battery-dead'] = "//support.nest.com/uk/article/How-do-I-check-the-level-of-my-Nest-Protect-battery";
      SITE_URLS['support.backup-battery-low'] = "//support.nest.com/uk/article/How-do-I-check-the-level-of-my-Nest-Protect-battery";
      SITE_URLS['support.power-out'] = "//support.nest.com/uk/article/What-should-I-do-if-I-have-a-wired-Nest-Protect-and-the-Nest-app-notified-me-that-the-power-is-out";
      SITE_URLS['js.search_url'] = "//nest.com/uk/search";
      SITE_URLS['js.search_proxy_url'] = "//nest.com/search/gcse_results";
      SITE_URLS['registria_store_url'] = "https://store.learningthermostat.nest.com";
      SITE_URLS['login_url'] = "https://home.nest.com/uk/login";

  SITE_URLS['hosts'] = {};
  SITE_URLS['hosts']['www'] = "nest.com";
  SITE_URLS['hosts']['cdn'] = "//cdn.store.nest.com";
</script>


<script type="text/javascript">
  Nest = window.Nest || {};
  Nest.LOCALE_ROOT = "/uk/";
</script>
  </head>
  <body id="nest-learning-thermostat"
        class="store  buy-button">
    <script>
  dataLayer = [];
</script>

      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PDQVFC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PDQVFC');</script>

    <script>
  window.Nest = window.Nest || {};
  window.Nest.FEATURE_FLAGS = {"giftWrap":true}
</script>

<div ng-include="header.html"></div>
    <div id="main">
      

      <div class="content wrapper main-wrapper">
        
<div itemscope itemtype="http://schema.org/Product" class="default">

  <section class="product-hero">
    <div class="container">
      <div class="row">
        <div class="hero-content">
          <h1><span itemprop="name">Nest Learning Thermostat</span></h1>
          <p>Turn it up. Turn it down. It’s a thermostat and programmer in one. The Nest Thermostat learns your schedule and the temperatures you like. It keeps you comfortable and saves energy when you’re away.</p>
            <a href="#meet-the-nest-learning-thermostat" class="video-button" id="link-to-thermostat-video"><b>►</b>Watch the video</a>
        </div>
      </div>
    </div>
  </section>

  <div class="side-cart-boundary">




        <section class="product-selection">
  <div class="container row">
    <div class="bring-nest-home">

      <div class="bring-nest-home-image" role="img"></div>

      <div class="bring-nest-home-copy">

        <h2 class="bring-nest-home-header">

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="with-install">
            Nest Thermostat
            <span class="price" itemprop="price">£179</span>
          </div>
        </h2>


        <div class="cart-buttons">
          
      </span>

    </span>
        </div>

        <h3 class="bring-nest-home-subtitle">
            Available from:
        </h3>
      </div>

    </div>
  </div>
</section>



        <section class="nest-stand">
  <div class="container row">
    <div class="text-block">

      <h1 class="stand-title">Get the Nest Stand</h1>

      <p class="stand-description">
        Put your Nest Thermostat on a shelf or table rather than your wall.
      </p>

      


      


    </div>
  </div>
</section>



        <section class="product-overview">
  <div class="container row">
    <div class="pieces-region">
      <div class="header">
        <h2 class="title">
          Rethink your heating system
        </h2>
        <h2 class="subtitle">You shouldn’t have to walk back and forth to the programmer to save energy or guess at the temperature to stay warm.</h2>
        <p class="widget-launch"><a href="#in-your-home" class="chevron right">See how Nest Thermostat will work in your home&nbsp;<b>&gt;</b></a><br/></p>
      </div>
      <div class="pieces-row one">
          <div class="thermostat-and-programmer pieces">
            <div role="img" class="thermostat-and-programmer piece-image"></div>
            <h3>Thermostat and programmer in one</h3>
            <p>
              The Nest Thermostat works as a thermostat, programmer and frostat. To replace programmer off-times, add very low temperatures to your schedule. That will save energy while keeping your family, and your pipes, safe in extreme weather.
            </p>
          </div>
        <div class="auto-schedule pieces">
          <div role="img" class="auto-schedule piece-image"></div>
          <h3>Auto-Schedule</h3>
          <p>
            The Nest Thermostat programmes itself in about a week. It creates a personalised schedule based on the temperature changes you’ve made and continually adapts to your changing life.
          </p>
        </div>
      </div>
      <div class="pieces-row two">
        <div class="auto-away pieces">
          <div role="img" class="auto-away piece-image"></div>
          <h3>Auto-Away</h3>
          <p>
            After you’ve left your home, the Nest Thermostat senses you've gone and automatically adjusts the temperature to avoid heating an empty house.
          </p>
        </div>
        <div class="remote pieces">
          <div role="img" class="remote piece-image"></div>
          <h3>Remote Control</h3>
          <p>
            Change the temperature from anywhere using your mobile, tablet or laptop. You can also adjust your schedule and check your Energy History.
          </p>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</section>




      <section class="tech-specs thermostat">
        <div class="container row">

          <div class="header">
            <h2 class="title">Tech Specs</h2>
          </div>

        </div>
        <div class="container row">
          <div class="spec-front">

            <div class="spec-thermostat-img" role="img"></div>

            <ul class="spec-thermostat">
              <li class="steel-ring a0">Solid stainless steel ring</li>
              <li class="lcd_screen a1">Bright LCD screen: 320 x 320 px display; 4.4 cm diameter</li>
              <li class="battery a2">Built-in rechargeable lithium ion battery</li>
              <li class="sensor_window a3">Sensor window</li>
            </ul>

            <div class="dimension">
              <h3 class="width">8.3 cm</h3>
            </div>
          </div>
        </div>
        <div class="container row">
          <div class="spec-side">

            <div class="spec-thermostat-side-img" role="img"></div>

            <div class="spec-thermostat-side">

              <h3 class="display">Display</h3>
              <ul class="section-display">
                <li class="display_height">Height: <span>2.9 cm</span></li>
                <li class="display_mass">Mass: <span>254 g / 9.0 oz</span></li>
                <li class="display_diameter">Diameter: <span>8.3 cm</span></li>
              </ul>

              <h3 class="wireless">Wireless</h3>
              <ul class="section-wireless">
                <li class="wireless_wifi">Wifi - <span>802.11b/g/n @ 2.4GHz</span></li>
                <li class="wireless_zigbee">Nest Weave - <span>802.15.4 @ 2.4GHz</span></li>
              </ul>

              <div class="see-more">
                <div class="detailed-specs-button thermostat opener" data-section-toggle=".detailed-specs.thermostat .more"  data-button-toggle=".detailed-specs-button.thermostat.opener">
                  <span class="open-close">Show&nbsp;detailed&nbsp;specs&nbsp;+</span>
                  <span class="open-close" style="display:none;">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
                </div>
              </div>

            </div>

            <div class="dimension">
              <h3 class="depth">3.4 cm</h3>
            </div>
          </div>
        </div>
        <div class="see-more mobile">
          <div class="detailed-specs-button thermostat opener" data-section-toggle=".detailed-specs.thermostat .more"  data-button-toggle=".detailed-specs-button.thermostat.opener">
            <span class="open-close">Show&nbsp;detailed&nbsp;specs&nbsp;+</span>
            <span class="open-close" style="display:none;">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
          </div>
        </div>
      </section>

      <section id="detailed-tech-specs" class="detailed-specs thermostat detailed-tech-specs">
        <div class="container more">
          <section>
  <h2 class="small-header">Detailed Tech Specs</h2>

  <div class="row r0">
    <div class="column c0">
      <h3 class="small-header gray">LCD Display</h3>
      <ul>
        <li>24 bit color</li>
        <li>320 &times; 320 pixel display</li>
        <li>4.4&nbsp;cm diameter</li>
      </ul>
      <h3 class="small-header gray">Languages</h3>
      <ul>
        <li>English (UK)</li>
        <li>French</li>
        <li>Spanish</li>
      </ul>
      <h3 class="small-header gray">Warranty</h3>
      <ul>
        <li>Two-year limited warranty</li>
      </ul>
    </div>

    <div class="column c1">
      <h3 class="small-header gray">Sensors</h3>
      <ul>
        <li>Temperature</li>
        <li>Humidity</li>
        <li>Near-field activity</li>
        <li>Far-field activity</li>
        <li>Ambient light</li>
      </ul>
      <h3 class="small-header gray">Battery</h3>
      <ul>
        <li>Built-in rechargeable lithium ion battery</li>
      </ul>
    </div>

    <div class="column c2">
      <h3 class="small-header gray">Wireless</h3>
      <ul>
        <li>802.11b/g/n @ 2.4GHz</li>
        <li>802.15.4 @ 2.4GHz</li>
      </ul>
      <h3 class="small-header gray">Bandwidth</h3>
      <ul>
        <li>Bandwidth less than 50MB/month upload and 10MB/month download (for software updates mainly)</li>
      </ul>
      <h3 class="small-header gray">Power consumption</h3>
      <ul>
        <li>Less than 1kWh/month</li>
      </ul>
    </div>
  </div>
</section>


  <section>
    <div class="row r0 uk-size">

      <div class="column c0">
        <h2 class="small-header">Size</h2>
        <div class="row">
          <div class="column">
            <h3 class="small-header gray">Display</h3>
            <ul>
              <li>Mass = 220 g / 7.8 oz</li>
              <li>Diameter = 8.3 cm</li>
              <li>Height = 2.9 cm</li>
            </ul>
          </div>
          <div class="row">
            <h3 class="small-header gray">Assembled Unit
              <span class="note">(Display + Base)</span>
            </h3>
            <ul>
              <li>Mass = 254 g / 9.0 oz</li>
              <li>Diameter = 8.3 cm</li>
              <li>Height = 3.4 cm</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column c1">
        <div class="column">
          <h3 class="small-header gray">Base</h3>
          <ul>
            <li>Mass = 34 g / 1.2 oz</li>
            <li>Diameter = 7.7 cm</li>
            <li>Height = 1.2 cm</li>
          </ul>
        </div>
      </div>

      <div class="column c2">
        <h2 class="small-header">In the box</h2>
        <div class="row">
          <ul>
            <li>Display</li>
            <li>Base</li>
            <li>Heat link</li>
            <li>1.5 m Power cord</li>
            <li>Power plug</li>
            <li>Optional trim kit</li>
            <li>Wall screws</li>
            <li>Installation Guide and warranty</li>
            <li>Welcome Guide</li>
            <li>Nest Pro installation card</li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="row r0 uk-bottom">
      <div class="column c0">
        <h2 class="small-header">Environmental</h2>

        <div class="row environmental">
          <div class="column">
            <h3 class="small-header gray">Green</h3>
            <ul>
              <li>RoHS</li>
              <li>Arsenic free</li>
              <li>Mercury free</li>
              <li>PVC free</li>
              <li>Recyclable packaging</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column c1">
        <div class="column">
          <h3 class="small-header gray">Operating</h3>
          <ul>
            <li>Temp: 0ºC - 50ºC</li>
            <li>up to 90% RH (unpackaged)</li>
            <li>pressure = 2300 meters altitude</li>
          </ul>
        </div>
        <div class="column">
          <h3 class="small-header gray">Storage</h3>
          <ul>
            <li>-20°C to 45°C / -4°F to 113°F</li>
            <li>up to 80% RH (in packaging)</li>
            <li>pressure = 5030 meters altitude</li>
          </ul>
        </div>
      </div>

      <div class="column c2">
        <div class="column hvac">
          <h2 class="small-header">Compatibility</h2>
          <p>The Nest Learning Thermostat is compatible with almost all central heating systems, including:</p>
          <ul>
            <li>Combi and condensing boilers</li>
            <li>System and heat-only boilers</li>
            <li>Hydronic underfloor systems</li>
            <li>Air source and ground source heat pumps (heating only)</li>
            <li>Zoned systems (one Nest Thermostat per zone)</li>
            <li>Switched live systems</li>
            <li>Low-voltage (dry contact) systems</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



          <div class="see-more">
            <div class="detailed-specs-button thermostat" data-section-toggle=".detailed-specs.thermostat .more"  data-button-toggle=".detailed-specs-button.thermostat.opener">
              <span class="open-close">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
            </div>
          </div>
        </div>
      </section>

        <section class="tech-specs programmer">
  <div class="container row">

    <div class="header">
      <h2 class="title">Heat Link Tech Specs</h2>
    </div>

  </div>
  <div class="container row">
    <div class="spec-front">
      <div class="spec-img" role="img"></div>
      <div class="spec-img-shadow" role="img"></div>

      <ul class="spec">
        <li class="led a0">Bi-color LED</li>
        <li class="reset-button a1">Reset button, press and hold for 10 seconds</li>
      </ul>

      <div class="dimension">
        <h3 class="width">10 cm x 10 cm</h3>
      </div>
    </div>
  </div>
  <div class="container row">
    <div class="spec-side">
      <div class="spec-side-img" role="img"></div>

      <div class="see-more">
        <div class="detailed-specs-button programmer opener" data-section-toggle=".detailed-specs.programmer .more" data-button-toggle=".detailed-specs-button.programmer.opener">
          <span class="open-close">Show&nbsp;detailed&nbsp;specs&nbsp;+</span>
          <span class="open-close" style="display:none;">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
        </div>
      </div>

      <div class="dimension">
        <h3 class="depth">3.0 cm</h3>
      </div>
    </div>
  </div>
  <div class="see-more mobile">
    <div class="detailed-specs-button thermostat opener" data-section-toggle=".detailed-specs.programmer .more"  data-button-toggle=".detailed-specs-button.programmer.opener">
      <span class="open-close">Show&nbsp;detailed&nbsp;specs&nbsp;+</span>
      <span class="open-close" style="display:none;">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
    </div>
  </div>
</section>

        <section class="detailed-specs programmer detailed-tech-specs">
  <div class="container more">

    <section>
  <h2 class="small-header">Detailed Tech Specs</h2>
  <div class="row r0 uk-bottom">
    <div class="column c0">
      <h3 class="small-header gray">Wireless</h3>
      <ul>
        <li>802.15.4 @ 2.4GHz</li>
      </ul>

      <h3 class="small-header gray">UI</h3>
      <ul>
        <li>Bicolor LED</li>
      </ul>

      <h3 class="small-header gray">Size</h3>
      <ul>
        <li>Mass = 150 g / 5.3 oz</li>
        <li>Size = 10.0 cm x 10.0 cm x 3.0 cm</li>
      </ul>
    </div>

    <div class="column c1">
      <h3 class="small-header gray">Input power</h3>
      <ul>
        <li>100V - 240V AC, 50/60Hz</li>
      </ul>

      <h3 class="small-header gray">Output power</h3>
      <ul>
        <li>Provides 12V DC to thermostat</li>
      </ul>

      <h3 class="small-header gray">Power consumption</h3>
      <ul>
        <li>Less than 1kWh/month</li>
      </ul>
    </div>

    <div class="column c1">
      <h3 class="small-header gray">Relay</h3>
      <ul>
        <li>Relay supports 3 (1) A load @ 230V AC, on both satisfied and request connectors.</li>
      </ul>
    </div>
</section>


    <div class="see-more">
      <div class="detailed-specs-button programmer" data-section-toggle=".detailed-specs.programmer .more"  data-button-toggle=".detailed-specs-button.programmer.opener">
        <span class="open-close">Hide&nbsp;detailed&nbsp;specs&nbsp;-</span>
      </div>
    </div>
  </div>
</section>



  </div>
</div>

      </div>
    </div>
    <script src="https://d24p8oa045rip8.cloudfront.net/assets/application-cbecba1d5f5e921de85f303ed6ec39f7.js"></script>
    <script src="https://d24p8oa045rip8.cloudfront.net/assets/products-0a6efaac4e5f3d097eacf800f527e625.js"></script>
    <script type="text/javascript">
      I18n = window.I18n || {}
      I18n.fallbacks = true;
      I18n.locale = "en-GB";
    </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./bootstrap320/js/bootstrap.min.js"></script>
    <!--  START Front site cookie move  START-->
    <script type="text/javascript" src="./js/custom/jquery.cookie.js"></script>
    <script type="text/javascript" src="./js/custom/jquery.cookiecuttr.js"></script>
    <!-- END Front site cookie move  END-->   
    <script src="https://code.angularjs.org/1.2.23/angular.js"></script>
    <!-- <script src="./bower_components/angular/angular.js"></script> -->
    <script src="https://code.angularjs.org/1.2.23/angular-route.js"></script>
    <!--<script src="./bower_components/angular-route/angular-route.js"></script> -->
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
    <!--<script src="./js/firebase.js"></script> -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    
    <script src="../../js/app.js"></script>
    <script src="../../js/controllers/controllers.js"></script>
    <script src="../../js/controllers/engineerSearch.js"></script>
    <script src="../../js/controllers/manuals.js"></script>
    <script src="../../js/controllers/documents.js"></script>
    <script src="../../js/controllers/auth.js"></script>
    <script src="../../js/controllers/nav.js"></script>
    <script src="../../js/controllers/account.js"></script>

    <script src="../../js/services/auth.js"></script>
    <script src="../../js/services/services.js"></script>
    <script src="../../js/services/user.js"></script>
    <script src="../../js/services/myPageCtx.js"></script>
    <script src="../../js/directives/directives.js"></script>
    <script src="../../js/custom/analyticsv3.js"></script>
  </body>
</html>


