	<div class="hidden-phone">
		<div class="bg-gray">
			<div class="container">
				<div class="height22"></div>
				<div id="services"></div>
			</div>
		</div>
		<!-- row -->
	</div>

	<div class="main-heading2">
		<h2>Top tips</h2>
	</div>

	<div class="container">
		<div class="hidden-phone">
			<div class="bg">
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><strong>1. Switch appliances off when not needed</strong>
					</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">The greatest way to save energy and money is to turn heating and hot water off when not needed . This is done through 'A rated' TRV Radiator valves, Heating Controls and Timing</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><strong>2. Use and correctly set heating controls.</strong></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><a href="http://www.amazon.co.uk/Drayton-Thermostatic-Valve-TRV4-Angled/dp/B003I4XL6A/ref=sr_1_1?ie=UTF8&amp;qid=1389389974&amp;sr=8-1&amp;keywords=drayton+trv4"><span style="color: #888888;"><img src="./images/TRV4_classic_A_Rated.jpg" alt="Drayton TRV4" width="230" height="230" /></span></a></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">A great way to save energy is making sure the most suitable heating controls are installed so that they save energy and also allow you to set them up to your heating comfort levels and needs.</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span></p>
<p><span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><strong>3.'A rated' boilers can save you upto &pound;300 annually<span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">[1]</span></strong></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Energy 'A rated' boilers are now a legal requirement for new installations and replacing your inefficient G rated boiler can deliver savings in Energy costs and maintenance costs. Work out your energy costs and see if an A rated boiler replacement can save you on energy costs or when a replacement part cost can be put towards a new boiler.</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><strong>4. Servicing your boiler annually.</strong></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Annual boiler maintenance can help prevent costly breakdowns, make sure your boiler is running efficiently and save you energy costs. If you are looking for an engineer, use our Find An Engineer page to get vetted heating engineers in your area.</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span>
				</p>
				
				<p>
					<span style="color: #888888;"><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1"><strong>5. Turn your thermostat down by 1&deg;C .</strong></span> <span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span></span>
				</p>
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">This can save you upto &pound;55 [2] annually. There are also internet connected thermostats such as <a href="http://www.amazon.co.uk/WiFi-Enabled-Touchscreen-Programmable-Thermostat/dp/B00649IWXI/ref=sr_1_2?ie=UTF8&amp;qid=1391433305&amp;sr=8-2&amp;keywords=wifi+stat">
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Heatmiser Wifi</span></a>&nbsp;that can be controlled from your smart phone and internet to make sure your heating is on only when you need.</span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span>
				</p>
				
				<p>
					<span style="color: #888888;"><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1"><strong><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">6. A</span><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">dequate heating breakdown cover</span></strong></span><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Make sure you have adequate heating breakdown insurance cover or an amount set aside for maintenance.&nbsp;<a href="http://www.uswitch.com/boiler-cover/"><span style="color: #888888;">Uswitch</span></a>&nbsp;is one site that compares boiler cover providers.&nbsp;The cost of some modern heating parts can go into the hundreds even without labour charges. Also for older boilers some parts are now obsolete.</span>
				</p>
				
				<p><span style="color: #888888;">&nbsp;</span></p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1"><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1"><strong>7. Choose the most beneficial energy gas and electric tariff</strong>. </span> <span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Selecting the best tariff for your usage can save hundreds of pounds of your bills. Use energy comparision sites to choose the best tariff. We will soon provide a list of recommended tariffs as well in our services section. There are many changes you can make to save on total energy costs ie. Making use of direct debit, paperless bills etc to reduce bills. Choosing an Internet tariff can also some more money.<em> see our&nbsp;<a href="../../../blog/energy/energy-providers-gas-and-electricity/"><span style="color: #888888;">blogpost</span></a> for more info.</em></span>
				</p>
				
				<p><span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span></p>
				
				<p>
					<span style="color: #888888;"><span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1"><strong>8. 'A rated' Improvements &nbsp;and Insulation</strong></span>&nbsp;<span style="font-size: 16px; font-family: verdana, geneva;" data-mce-mark="1">&nbsp;</span></span>
				</p>
				
				<p>
					<span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">Double Glazing, insulating your home, insulating hot water cylinders and pipes, prevents heat loss and can save on heating bills. Insulation prevents heat being lost and so you boiler foes not need to work unnecessarily. Use draught excluders to prevent cold air entering the house, thereby losing heat.</span>
				</p>
				
				<p><span style="color: #888888;">&nbsp;</span></p>
				
				<p><span style="font-size: 16px; font-family: verdana, geneva; color: #888888;" data-mce-mark="1">&nbsp;</span></p>
				
				<div>&nbsp;</div>
				<div>&nbsp;</div>
			</div>
		</div>
	</div>